{{ 'customer.css' | asset_url | stylesheet_tag: preload: true }}
<script src="{{ 'customer.js' | asset_url }}" defer></script>

<div class="customer-personal-tabs-wrapper">
    <input type="radio" name="personal-tab" id="tab-info" hidden checked>
    <input type="radio" name="personal-tab" id="tab-addresses" hidden>

    <div class="customer-personal-tab-buttons">
      <label for="tab-info">Personal Information</label>
      <label for="tab-addresses">Manage Addresses</label>
    </div>

    <form class="customer-personal-tab-content customer-tab-info" id="customer-info-form">
      <input type="hidden" id="customer_id" value="{{ customer.id }}">
    
      <div class="personal-info-heading-wrapper">
        <h2>PERSONAL INFORMATION</h2>
        <button type="button" class="customer-edit-btn" id="edit-btn">Edit</button>
        <button type="button" class="customer-cancel-btn" id="cancel-btn" style="display: none;">Cancel</button>
      </div>
    
      <div class="customer-form-row">
        <div class="customer-form-group">
          <label>First Name</label>
          <input type="text" id="first_name" value="{{ customer.first_name }}" disabled>
        </div>
        <div class="customer-form-group">
          <label>Last Name</label>
          <input type="text" id="last_name" value="{{ customer.last_name }}" disabled>
        </div>
      </div>
      
      <div class="customer-form-group">
        <label>Mobile Number</label>
        <input type="text" id="phone" value="{{ customer.phone | default: '' }}" disabled>
      </div>
      
      <div class="customer-form-group email-group">
        <label>Email</label>
        <input type="email" id="email" value="{{ customer.email }}" disabled>
        <div class="email-error" style="color: red; display: none;"></div>
      </div>

      <div class="customer-form-row">
        <div class="customer-form-group">
          <label>Date of Birth</label>
          <input
            type="date"
            id="dob"
            value="{{ customer.metafields.custom.date_of_birth.value | default: '' }}"
            disabled
          >
        </div>

        <div class="customer-form-group">
          <label>Date of Anniversary</label>
          <input
            type="date"
            id="doa"
            value="{{ customer.metafields.custom.date_of_anniversary.value | default: '' }}"
            disabled
          >
        </div>
      </div>
    
      <button class="save-button" id="save-button" type="submit" disabled>SAVE</button>
    </form>

    <div class="customer-addresses-wrapper">
      <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 0; margin-top: 20px;">
        <h2 style="margin: 0; font-size: 20px;">ADDRESSES</h2>
        <button class="add-address-btn" onclick="openAddressModal()">+ Add New Address</button>
      </div>

      {%- paginate customer.addresses by 10 -%}
        <div class="addresses-list">
          {%- if customer.addresses.size == 0 -%}
            <div class="empty-address-state">
              <div class="empty-address-icon">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_7114_13862" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="48" height="48">
                  <rect width="48" height="48" fill="#D9D9D9"/>
                  </mask>
                  <g mask="url(#mask0_7114_13862)">
                  <path d="M27.6155 20.1154C27.6155 19.1211 27.2615 18.2699 26.5535 17.5619C25.8455 16.8539 24.9944 16.4999 24 16.4999C23.7307 16.4999 23.4749 16.5236 23.2325 16.5709C22.9905 16.6186 22.7554 16.7064 22.527 16.8344L27.2805 21.5884C27.4089 21.3601 27.4967 21.1247 27.544 20.8824C27.5917 20.6401 27.6155 20.3844 27.6155 20.1154ZM35.7845 30.0924L33.596 27.9039C34.4167 26.5039 35.0385 25.1859 35.4615 23.9499C35.8845 22.7139 36.096 21.5612 36.096 20.4919C36.096 16.8486 34.9377 13.8526 32.621 11.5039C30.3044 9.15524 27.4307 7.9809 24 7.9809C22.524 7.9809 21.1404 8.20907 19.849 8.6654C18.5574 9.12174 17.3885 9.78324 16.3425 10.6499L14.223 8.5309C15.554 7.3999 17.0554 6.52873 18.727 5.9174C20.3987 5.30573 22.1564 4.9999 24 4.9999C28.0924 4.9999 31.6315 6.42873 34.6175 9.2864C37.6032 12.1441 39.096 15.8787 39.096 20.4904C39.096 21.9661 38.8217 23.4974 38.273 25.0844C37.7244 26.6717 36.8949 28.3411 35.7845 30.0924ZM29.358 33.6039L12.4885 16.7344C12.3065 17.3141 12.1635 17.9167 12.0595 18.5424C11.9559 19.1677 11.904 19.8189 11.904 20.4959C11.904 22.9139 12.9419 25.7312 15.0175 28.9479C17.0932 32.1646 20.0874 35.5242 24 39.0269C25.0207 38.1319 25.9765 37.2292 26.8675 36.3189C27.7585 35.4089 28.5887 34.5039 29.358 33.6039ZM41.5845 45.8304L31.446 35.6919C30.3924 36.8766 29.2559 38.0747 28.0365 39.2864C26.8172 40.4981 25.4717 41.7422 24 43.0189C18.9667 38.6576 15.1924 34.5987 12.677 30.8424C10.1617 27.0857 8.90402 23.6369 8.90402 20.4959C8.90402 19.3656 9.00919 18.2882 9.21952 17.2639C9.43019 16.2396 9.72502 15.2682 10.104 14.3499L2.56152 6.8074L4.68102 4.6499L43.723 43.6924L41.5845 45.8304Z" fill="#666666"/>
                  </g>
                </svg>
              </div>
              <h3 class="empty-address-title">No Address Yet</h3>
              <p class="empty-address-text">Please Add Your Address For Better Experience</p>
            </div>
          {%- else -%}
            {%- for address in customer.addresses -%}
              <div class="address-card {% if address == customer.default_address %}default{% endif %}">
              <div class="address-card-header">
                <div>
                  <div class="address-card-name">{{ address.first_name }} {{ address.last_name }}</div>
                  {% if address.phone != blank %}
                    <div class="address-card-phone">{{ address.phone }}</div>
                  {% endif %}
                </div>
                {% if address == customer.default_address %}
                  <span class="default-badge">Default</span>
                {% endif %}
              </div>

              <div class="address-card-content">
                {% if address.company != blank %}
                  <div>{{ address.company }}</div>
                {% endif %}
                {% if address.address1 != blank %}
                  <div>{{ address.address1 }}</div>
                {% endif %}
                {% if address.address2 != blank %}
                  <div>{{ address.address2 }}</div>
                {% endif %}
                <div>
                  {% if address.city %}{{ address.city }}{% if address.province or address.zip %}, {% endif %}{% endif %}
                  {% if address.province %}{{ address.province }}{% if address.zip %}, {% endif %}{% endif %}
                  {% if address.zip %}{{ address.zip }}{% endif %}
                </div>
                <div>{{ address.country }}</div>
              </div>

              <div class="address-card-actions">
                <button class="btn-edit" onclick='openEditModal({{ address.id | json }}, {{ address.first_name | json }}, {{ address.last_name | json }}, {{ address.phone | json }}, {{ address.address1 | json }}, {{ address.address2 | json }}, {{ address.city | json }}, {{ address.province | json }}, {{ address.zip | json }}, {{ address.country | json }})'><svg width="12" height="12" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.0897 4.59999C16.5127 4.17712 16.7504 3.60354 16.7504 3.00544C16.7505 2.40733 16.513 1.8337 16.0901 1.41072C15.6672 0.987743 15.0936 0.750075 14.4955 0.75C13.8974 0.749925 13.3238 0.987449 12.9008 1.41032L2.2236 12.0898C2.03785 12.275 1.90048 12.503 1.82359 12.7538L0.766748 16.2355C0.746072 16.3046 0.74451 16.3781 0.762229 16.4481C0.779948 16.5181 0.816286 16.582 0.867389 16.6331C0.918492 16.6841 0.982452 16.7203 1.05249 16.7379C1.12252 16.7555 1.19601 16.7539 1.26517 16.7331L4.74769 15.677C4.99824 15.6008 5.22625 15.4643 5.41172 15.2794L16.0897 4.59999Z" stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.1503 3.15039L14.3504 6.35046" stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg> Edit</button>
                <button class="btn-delete" onclick="deleteAddress('{{ address.url }}')"> 
                 <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_10171_6165" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                  <rect width="24" height="24" fill="#D9D9D9"/>
                  </mask>
                  <g mask="url(#mask0_10171_6165)">
                  <path d="M7.30775 20.5C6.80908 20.5 6.38308 20.3234 6.02975 19.9702C5.67658 19.6169 5.5 19.1909 5.5 18.6922V5.99998H4.5V4.49998H9V3.61548H15V4.49998H19.5V5.99998H18.5V18.6922C18.5 19.1974 18.325 19.625 17.975 19.975C17.625 20.325 17.1974 20.5 16.6923 20.5H7.30775ZM17 5.99998H7V18.6922C7 18.7821 7.02883 18.8558 7.0865 18.9135C7.14417 18.9711 7.21792 19 7.30775 19H16.6923C16.7692 19 16.8398 18.9679 16.9038 18.9037C16.9679 18.8397 17 18.7692 17 18.6922V5.99998ZM9.404 17H10.9037V7.99998H9.404V17ZM13.0962 17H14.596V7.99998H13.0962V17Z" fill="#666666"/></g></svg> Delete</button>
              </div>
            </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      {%- endpaginate -%}
    </div>

    <!-- Add Address Modal -->
    <div class="address-modal-overlay" id="addAddressModal">
      <div class="address-modal">
        <div class="address-modal-header">
          <h2>Add New Address</h2>
          <button class="address-modal-close" onclick="closeAddressModal()"><span>{{- 'icon-close-x.svg' | inline_asset_content -}}</span></button>
        </div>

        {%- form 'customer_address', customer.new_address, return_to: routes.account_url -%}
          <div class="address-form-row">
            <div class="address-form-group">
              <label for="AddressFirstNameNew">First Name <span style="color: red;">*</span></label>
              <input
                type="text"
                id="AddressFirstNameNew"
                name="address[first_name]"
                placeholder="First name"
                autocomplete="given-name"
                required
              >
            </div>
            <div class="address-form-group">
              <label for="AddressLastNameNew">Last Name <span style="color: red;">*</span></label>
              <input
                type="text"
                id="AddressLastNameNew"
                name="address[last_name]"
                placeholder="Last name"
                autocomplete="family-name"
                required
              >
            </div>
          </div>

          <div class="address-form-group">
            <label for="AddressPhoneNew">Mobile No.</label>
            <input
              type="tel"
              id="AddressPhoneNew"
              name="address[phone]"
              placeholder="Enter your Number"
              autocomplete="tel"
            >
          </div>

          <div class="address-form-row">
            <div class="address-form-group">
              <label for="AddressZipNew">Pincode</label>
              <input
                type="text"
                id="AddressZipNew"
                name="address[zip]"
                placeholder="Enter Your Pincode"
                autocapitalize="characters"
                autocomplete="postal-code"
              >
            </div>
            <div class="address-form-group">
              <label for="AddressCityNew">City</label>
              <input
                type="text"
                id="AddressCityNew"
                name="address[city]"
                placeholder="Enter your City"
                autocomplete="address-level2"
                required
              >
            </div>
          </div>

          <div class="address-form-group">
            <label for="AddressAddress1New">Address <span style="color: red;">*</span></label>
            <input
              type="text"
              id="AddressAddress1New"
              name="address[address1]"
              placeholder="Enter Your Address"
              autocomplete="address-line1"
            >
          </div>

          <div class="address-form-row">
            <div class="address-form-group">
              <label for="AddressAddress2New">Street/Locality</label>
              <input
                type="text"
                id="AddressAddress2New"
                name="address[address2]"
                placeholder="Enter Your Street"
                autocomplete="address-line2"
              >
            </div>
            <div class="address-form-group">
              <label for="AddressProvinceNew">State</label>
              <select
                id="AddressProvinceNew"
                name="address[province]"
                autocomplete="address-level1"
              >
                <option value="">-- Select State --</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
              </select>
            </div>
          </div>

          <input type="hidden" name="address[country]" value="India">

          <div class="save-as-section">
            <label>Save As</label>
            <div class="save-as-options">
              <label>
                <input type="radio" name="address_type" value="Home" checked> Home
              </label>
              <label>
                <input type="radio" name="address_type" value="Work"> Work
              </label>
            </div>
          </div>

          <div style="margin: 15px 0;">
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new" style="display: inline; margin-left: 8px; font-size: 14px; cursor: pointer;">
              Set as default address
            </label>
          </div>

          <div class="address-modal-actions">
            <button type="submit" class="btn-save">SAVE</button>
            <button type="button" class="btn-cancel" onclick="closeAddressModal()">CANCEL</button>
          </div>
        {%- endform -%}
      </div>
    </div>

    <!-- Edit Address Modal -->
    <div class="address-modal-overlay" id="editAddressModal">
      <div class="address-modal">
        <div class="address-modal-header">
          <h2>Edit Address</h2>
          <button class="address-modal-close" onclick="closeEditModal()"><span>{{- 'icon-close-x.svg' | inline_asset_content -}}</span></button>
        </div>

        <form id="editAddressForm">
          <input type="hidden" id="EditAddressId">
          
          <div class="address-form-row">
            <div class="address-form-group">
              <label for="EditAddressFirstName">First Name <span style="color: red;">*</span></label>
              <input
                type="text"
                id="EditAddressFirstName"
                placeholder="First name"
                required
              >
            </div>
            <div class="address-form-group">
              <label for="EditAddressLastName">Last Name <span style="color: red;">*</span></label>
              <input
                type="text"
                id="EditAddressLastName"
                placeholder="Last name"
                required
              >
            </div>
          </div>

          <div class="address-form-group">
            <label for="EditAddressPhone">Mobile No.</label>
            <input
              type="tel"
              id="EditAddressPhone"
              placeholder="Enter your Number"
            >
          </div>

          <div class="address-form-row">
            <div class="address-form-group">
              <label for="EditAddressZip">Pincode</label>
              <input
                type="text"
                id="EditAddressZip"
                placeholder="Enter Your Pincode"
              >
            </div>
            <div class="address-form-group">
              <label for="EditAddressCity">Street/Locality</label>
              <input
                type="text"
                id="EditAddressCity"
                placeholder="Enter your Locality"
                required
              >
            </div>
          </div>

          <div class="address-form-group">
            <label for="EditAddressAddress1">Address <span style="color: red;">*</span></label>
            <input
              type="text"
              id="EditAddressAddress1"
              placeholder="Enter Your Address"
            >
          </div>

          <div class="address-form-row">
            <div class="address-form-group">
              <label for="EditAddressAddress2">City/ District/ Town</label>
              <input
                type="text"
                id="EditAddressAddress2"
                placeholder="Enter Your City"
              >
            </div>
            <div class="address-form-group">
              <label for="EditAddressProvince">State</label>
              <select id="EditAddressProvince">
                <option value="">-- Select State --</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
              </select>
            </div>
          </div>

          <input type="hidden" id="EditAddressCountry" value="India">

          <div class="address-modal-actions">
            <button type="submit" class="btn-save">UPDATE</button>
            <button type="button" class="btn-cancel" onclick="closeEditModal()">CANCEL</button>
          </div>
        </form>
      </div>
    </div>

    <script>
      window.addEventListener('load', () => {
        typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
      });
    </script>
</div>

<script>
  function openAddressModal() {
    document.getElementById('addAddressModal').classList.add('active');
    document.body.style.overflow = 'hidden';
  }

  function closeAddressModal() {
    document.getElementById('addAddressModal').classList.remove('active');
    document.body.style.overflow = 'auto';
  }

  function openEditModal(id, firstName, lastName, phone, address1, address2, city, province, zip, country) {
    document.getElementById('EditAddressId').value = id;
    document.getElementById('EditAddressFirstName').value = firstName || '';
    document.getElementById('EditAddressLastName').value = lastName || '';
    document.getElementById('EditAddressPhone').value = phone || '';
    document.getElementById('EditAddressAddress1').value = address1 || '';
    document.getElementById('EditAddressAddress2').value = address2 || '';
    document.getElementById('EditAddressCity').value = city || '';
    document.getElementById('EditAddressProvince').value = province || '';
    document.getElementById('EditAddressZip').value = zip || '';
    document.getElementById('EditAddressCountry').value = country || 'India';
    
    document.getElementById('editAddressModal').classList.add('active');
    document.body.style.overflow = 'hidden';
  }

  function closeEditModal() {
    document.getElementById('editAddressModal').classList.remove('active');
    document.body.style.overflow = 'auto';
  }

  function deleteAddress(url) {
    if (!confirm('Are you sure you want to delete this address?')) return;

    const form = document.createElement('form');
    form.method = 'POST';

    // 👇 Add return_to as a query param on the action URL
    form.action = url + '?return_to={{ routes.account_url | url_encode }}';
    // If you want a specific tab: '?return_to={{ '/account?tab=addresses' | url_encode }}'

    const methodInput = document.createElement('input');
    methodInput.type = 'hidden';
    methodInput.name = '_method';
    methodInput.value = 'delete';
    form.appendChild(methodInput);

    document.body.appendChild(form);
    form.submit();
  }

  document.getElementById('addAddressModal').addEventListener('click', function(e) {
    if (e.target === this) {
      closeAddressModal();
    }
  });

  document.getElementById('editAddressModal').addEventListener('click', function(e) {
    if (e.target === this) {
      closeEditModal();
    }
  });

  document.getElementById('editAddressForm').addEventListener('submit', async function(e) {
    e.preventDefault();

    const editPin = document.getElementById('EditAddressZip').value.trim();
    if (!/^\d{6}$/.test(editPin)) {
      alert('Please enter a valid 6-digit pincode.');
      return;
    }

    const addressId = document.getElementById('EditAddressId').value;

    const formData = new FormData();
    formData.append('_method', 'put');
    formData.append('address[first_name]', document.getElementById('EditAddressFirstName').value);
    formData.append('address[last_name]', document.getElementById('EditAddressLastName').value);
    formData.append('address[phone]', document.getElementById('EditAddressPhone').value);
    formData.append('address[address1]', document.getElementById('EditAddressAddress1').value);
    formData.append('address[address2]', document.getElementById('EditAddressAddress2').value);
    formData.append('address[city]', document.getElementById('EditAddressCity').value);
    formData.append('address[province]', document.getElementById('EditAddressProvince').value);
    formData.append('address[country]', 'India');
    formData.append('address[zip]', editPin);

    try {
      const res = await fetch(`/account/addresses/${addressId}`, {
        method: 'POST',
        body: formData
      });

      if (res.ok) {
        alert('✅ Address updated successfully');
        window.location.reload(); // refresh to show updated address
      } else {
        alert('❌ Failed to update address');
        console.error(await res.text());
      }
    } catch (err) {
      console.error(err);
      alert('⚠️ Network error');
    }
  });

  window.addEventListener('load', () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const countrySelect = document.getElementById('AddressCountryNew');
    if (countrySelect && !countrySelect.value) {
      countrySelect.value = 'India';
    }
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const editBtn = document.getElementById("edit-btn");
    const cancelBtn = document.getElementById("cancel-btn");
    const saveBtn = document.getElementById("save-button");

    /* 🔹 ADDED dob & doa here */
    const inputs = document.querySelectorAll(
      "#first_name, #last_name, #email, #dob, #doa"
    );

    const phoneInput = document.getElementById("phone");
    const emailError = document.querySelector(".email-error");
    const originalValues = {};

    phoneInput.setAttribute("disabled", "true");

    inputs.forEach(input => {
      originalValues[input.id] = input.value;
    });

    editBtn.addEventListener("click", () => {
      inputs.forEach((input) => input.removeAttribute("disabled"));
      saveBtn.removeAttribute("disabled");
      cancelBtn.style.display = "inline-flex";
      editBtn.style.display = "none";
    });

    cancelBtn.addEventListener("click", () => {
      inputs.forEach(input => {
        input.value = originalValues[input.id];
        input.setAttribute("disabled", "true");
      });
      saveBtn.setAttribute("disabled", "true");
      cancelBtn.style.display = "none";
      editBtn.style.display = "inline-flex";
      emailError.style.display = "none";
    });

    document.getElementById("customer-info-form").addEventListener("submit", async (e) => {
      e.preventDefault();
      emailError.style.display = "none";

      const email = document.getElementById("email").value;
      if (!validateEmail(email)) {
        emailError.textContent = "Please enter a valid email address";
        emailError.style.display = "block";
        return;
      }

      const data = {
        id: document.getElementById("customer_id").value,
        first_name: document.getElementById("first_name").value,
        last_name: document.getElementById("last_name").value,
        email: email,
        phone: document.getElementById("phone").value,

        note: `dob:${document.getElementById("dob").value || ''};doa:${document.getElementById("doa").value || ''}`
      };

      try {
        const res = await fetch("https://personal-information-api-385594025448.asia-south1.run.app/", {
          method: "PUT",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        });

        const result = await res.json();

        if (res.ok) {
          alert("✅ Customer information updated successfully.");
          inputs.forEach(input => {
            originalValues[input.id] = input.value;
            input.setAttribute("disabled", "true");
          });
          saveBtn.setAttribute("disabled", "true");
          cancelBtn.style.display = "none";
          editBtn.style.display = "inline-block";
        } else {
          if (result.errors && result.errors.email) {
            emailError.textContent = result.errors.email.join(', ');
            emailError.style.display = "block";
          } else {
            alert("❌ Error updating customer: " + (result.message || "Unknown error"));
          }
          console.error("Update error:", result);
        }
      } catch (err) {
        alert("⚠️ Network error. Please try again.");
        console.error("Network error:", err);
      }
    });

    function validateEmail(email) {
      const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return re.test(email);
    }
  });
</script>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const addAddressForm = document.querySelector('#addAddressModal form');
    const addPinInput = document.getElementById('AddressZipNew');

    if (addAddressForm && addPinInput) {
      addPinInput.addEventListener('input', function (e) {
        let v = e.target.value.replace(/\D/g, '');
        if (v.length > 6) v = v.slice(0, 6);
        e.target.value = v;
      });

      addAddressForm.addEventListener('submit', function (e) {
        const first = document.getElementById('AddressFirstNameNew').value.trim();
        const last = document.getElementById('AddressLastNameNew').value.trim();
        const address = document.getElementById('AddressAddress1New').value.trim();
        const phone = document.getElementById('AddressPhoneNew').value.trim();
        const pin = addPinInput.value.trim();

        if (!first || !last || !address) {
          e.preventDefault();
          alert('* Indicated Fields are Required.');
          return;
        }

        if (phone && !/^[6-9]\d{9}$/.test(phone)) {
          e.preventDefault();
          alert('Please enter a valid 10-digit mobile number.');
          return;
        }

        if (!/^\d{6}$/.test(pin)) {
          e.preventDefault();
          alert('Please enter a valid 6-digit pincode.');
        }
      });
    }

    // Same input mask for Edit
    const editPinInput = document.getElementById('EditAddressZip');
    if (editPinInput) {
      editPinInput.addEventListener('input', function (e) {
        let v = e.target.value.replace(/\D/g, '');
        if (v.length > 6) v = v.slice(0, 6);
        e.target.value = v;
      });
    }
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const addPinInput = document.getElementById('AddressZipNew');
    const addCityInput = document.getElementById('AddressCityNew');
    const addStateSelect = document.getElementById('AddressProvinceNew');

    const editPinInput = document.getElementById('EditAddressZip');
    const editCityDisplayInput = document.getElementById('EditAddressAddress2');
    const editStateSelect = document.getElementById('EditAddressProvince');

    ['AddressPhoneNew', 'EditAddressPhone'].forEach(id => {
      const input = document.getElementById(id);
      if (!input) return;

      input.addEventListener('input', function () {
        let value = this.value;

        // remove non-digits
        value = value.replace(/\D/g, '');

        // limit to 10 digits
        if (value.length > 10) {
          value = value.slice(0, 10);
        }

        this.value = value;
      });
    });

    async function fetchLocationFromPincode(pin) {
      if (!/^\d{6}$/.test(pin)) return null;
      try {
        const res = await fetch('https://api.postalpincode.in/pincode/' + pin);
        const data = await res.json();

        if (Array.isArray(data) &&
            data[0].Status === 'Success' &&
            data[0].PostOffice &&
            data[0].PostOffice.length) {

          const po = data[0].PostOffice[0];
          return {
            city: po.District || '',
            state: po.State || ''
          };
        }
      } catch (err) {
        console.error('Pincode lookup failed:', err);
      }
      return null;
    }

    function setupPincodeAutoFill(pinInput, cityInput, stateSelect) {
      if (!pinInput) return;
      pinInput.addEventListener('blur', async function (e) {
        const pin = e.target.value.trim();
        if (!/^\d{6}$/.test(pin)) return;

        const loc = await fetchLocationFromPincode(pin);
        if (!loc) return;

        // Fill city
        if (cityInput && !cityInput.value) {
          cityInput.value = loc.city;
        }
        if (stateSelect && loc.state) {
          const stateOption = Array.from(stateSelect.options).find(function (opt) {
            return opt.value.toLowerCase() === loc.state.toLowerCase();
          });
          if (stateOption) {
            stateSelect.value = stateOption.value;
          }
        }
      });
    }
    setupPincodeAutoFill(addPinInput, addCityInput, addStateSelect);
    setupPincodeAutoFill(editPinInput, editCityDisplayInput, editStateSelect);
  });
</script>
