{% comment %}
  Renders product buy-buttons.
  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} product form id.
  - section_id: {String} id of section to which this snippet belongs.
  - show_pickup_availability: {Boolean} for the pickup availability. If true the pickup availability is rendered, false - not rendered (optional).

  Usage:
  {% render 'buy-buttons', block: block, product: product, product_form_id: product_form_id, section_id: section.id, show_pickup_availability: true %}
{% endcomment %}
<div {{ block.shopify_attributes }} class="buy-buttons-wrapper">
  {%- if product != blank -%}
    {%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

      assign show_dynamic_checkout = false
      if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
        assign show_dynamic_checkout = true
      endif
    -%}

    <product-form
      class="product-form"
      data-hide-errors="{{ gift_card_recipient_feature_active }}"
      data-section-id="{{ section.id }}"
    >
      <div class="product-form__error-message-wrapper" role="alert" hidden>
        <span class="svg-wrapper">
          {{- 'icon-error.svg' | inline_asset_content -}}
        </span>
        <span class="product-form__error-message"></span>
      </div>

      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form',
        onsubmit: 'handleGTMAddToCartSubmit(event)'
      -%}

        <input type="hidden" name="properties[EngravingText]" value="{{ engraving_text | default: '' }}">
        <input type="hidden" name="properties[EngravingFont]" value="{{ engraving_font | default: '' }}">
        <input type="hidden" name="properties[GiftText]" value="{{ gift_text | default: '' }}">
        <input type="hidden" name="properties[_Gold Price Per Gram]" id="prop-gold-price-per-gram">
        <input type="hidden" name="properties[_Gold Weight]" id="prop-gold-weight">
        <input type="hidden" name="properties[_Gold Price]" id="prop-gold-price">
        <input type="hidden" name="properties[_Making Charges]" id="prop-making-charges">
        <input type="hidden" name="properties[_Diamond Charges]" id="prop-diamond-charges">
        <input type="hidden" name="properties[_GST]" id="prop-gst">
        <input type="hidden" name="properties[_Final Price]" id="prop-final-price">
        <input type="hidden" name="properties[_Shipping Date]" id="prop-shipping-date">
        <input type="hidden" name="properties[_Diamond Total Pcs]" id="prop-diamond-total-pcs">

        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          {% if product.selected_or_first_available_variant.available == false
            or quantity_rule_soldout
            or product.selected_or_first_available_variant == null
          %}
            disabled
          {% endif %}
          class="product-variant-id"
        >

        {%- if gift_card_recipient_feature_active -%}
          {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
        {%- endif -%}

        

        <div class="product-form__buttons">
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}
          <button
            id="ProductSubmitButton-{{ section_id }}"
            type="submit"
            name="add"
            class="product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
            {% if product.selected_or_first_available_variant.available == false
              or quantity_rule_soldout
              or product.selected_or_first_available_variant == null
            %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant == null -%}
                {{ 'products.product.unavailable' | t }}
              {%- elsif product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                {{ 'products.product.sold_out' | t }}
              {%- else -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- endif -%}
            </span>
            {%- render 'loading-spinner' -%}
          </button>
          {%- if show_dynamic_checkout -%}
            {{ form | payment_button }}
          {%- endif -%}
        </div>
      {%- endform -%}
      <div class="desktop-show inline-flex">
        <div class="iwish-app-block-product"><a class="iWishAdd st-1" href="#" data-variant="{{ product.variants.first.id }}" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}"></a></div>
      </div>
      {% comment %} {% assign allowed_tags = 'Chembur Store Available,Pune store available' | split: ',' %}
      {% assign show_try_at_home = false %}

      {% comment %} Check product tags {% endcomment %}
      {% for tag in product.tags %}
        {% if allowed_tags contains tag %}
          {% assign show_try_at_home = true %}
          {% break %}
        {% endif %}
      {% endfor %}

      {% comment %} If not found in tags, check variant metafields {% endcomment %}
      {% unless show_try_at_home %}
        {% for variant in product.variants %}
          {% if variant.metafields.custom.in_store_available != blank %}
            {% assign show_try_at_home = true %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endunless %}

      {% if show_try_at_home %}
        <button class="try-at-home-atc-button" onclick="openTryAtHomeOverlay()">Try at Home</button>
        <style>
          @media (max-width: 768px) {
            .product-form__submit { border-radius: 8px !important; width: 140px; }
          }
        </style>
      {% endif %} {% endcomment %}
      <div class="mobile-show">
        <div class="custom-wp_btn-link">
          <a
            href="https://wa.me/+919004435760?text=Hi, I want to get more information about this product: {{ product.title | url_encode }}"
            style="padding: 0 !important; border: 0 !important;"
            target="_blank"
          >
            <img
              class="chat-with-experts"
              src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Group_1321315733_1.png?v=1755165022"
              height="46"
              width="46" alt="whatsapp icon" title = "whatsapp"
            >
          </a>
        </div>
        
      </div>
      
      <div class="custom-share-icon desktop-show">
        <div>
          <div class="product-share product_share" onclick="share()" id="product_share">
            {{ 'icon-share-product.svg' | inline_asset_content }}
          </div>
        </div>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          const today = new Date();
          const shippingDate = new Date();
          shippingDate.setDate(today.getDate() + 9);
          const formattedDate = shippingDate.toLocaleDateString('en-GB');
          const shippingField = document.getElementById('prop-shipping-date');
          if (shippingField) shippingField.value = formattedDate;
        });
      </script>

    </product-form>

    {%- else -%}
      <div class="product-form">
        <div class="product-form__buttons form">
          <button
            type="submit"
            name="add"
            class="product-form__submit button button--full-width button--primary"
            disabled
          >
            {{ 'products.product.sold_out' | t }}
          </button>
        </div>
      </div>
    {%- endif -%}

    {%- if show_pickup_availability -%}
      {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag: preload: true }}

      {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
        | where: 'pick_up_enabled', true
      -%}

      <pickup-availability
        class="product__pickup-availabilities quick-add-hidden"
        {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
          available
        {% endif %}
        data-root-url="{{ routes.root_url }}"
        data-variant-id="{{ product.selected_or_first_available_variant.id }}"
        data-has-only-default-variant="{{ product.has_only_default_variant }}"
        data-product-page-color-scheme="gradient color-{{ section.settings.color_scheme }}"
      >
        <template>
          <pickup-availability-preview class="pickup-availability-preview">
            <span class="svg-wrapper">
              {{- 'icon-unavailable.svg' | inline_asset_content -}}
            </span>
            <div class="pickup-availability-info">
              <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
              <button class="pickup-availability-button link link--text underlined-link">
                {{ 'products.product.pickup_availability.refresh' | t }}
              </button>
            </div>
          </pickup-availability-preview>
        </template>
      </pickup-availability>

      <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
</div>

<div class="price-notification">
<span
 id="open-notify-btn" 
 class="notify-wrapper open-notify-btn"
 onclick="
   window.dataLayer = window.dataLayer || [];
   window.dataLayer.push({
     event: 'promoClick',
     promoClick: {
       promo_id: '{{ product.selected_or_first_available_variant.sku }}',
       promo_name: '{{ product.title }}',
       creative_name: 'Notify Me Clicked'
     }
   });
 "
 >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_4803_1407)">
        <path d="M8.55664 17.5C8.70293 17.7533 8.91332 17.9637 9.16668 18.11C9.42003 18.2563 9.70743 18.3333 9.99997 18.3333C10.2925 18.3333 10.5799 18.2563 10.8333 18.11C11.0866 17.9637 11.297 17.7533 11.4433 17.5" stroke="#793C26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18.3334 6.66663C18.3334 4.74996 17.6667 3.08329 16.6667 1.66663" stroke="#793C26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M2.71833 12.7716C2.60947 12.8909 2.53763 13.0393 2.51155 13.1987C2.48547 13.3581 2.50627 13.5217 2.57142 13.6695C2.63658 13.8173 2.74328 13.9429 2.87855 14.0312C3.01381 14.1195 3.17182 14.1665 3.33333 14.1666H16.6667C16.8282 14.1667 16.9862 14.1198 17.1216 14.0317C17.2569 13.9436 17.3637 13.8181 17.4291 13.6704C17.4944 13.5227 17.5154 13.3592 17.4895 13.1998C17.4637 13.0404 17.392 12.8919 17.2833 12.7725C16.175 11.63 15 10.4158 15 6.66663C15 5.34054 14.4732 4.06877 13.5355 3.13109C12.5979 2.19341 11.3261 1.66663 10 1.66663C8.67392 1.66663 7.40215 2.19341 6.46447 3.13109C5.52679 4.06877 5 5.34054 5 6.66663C5 10.4158 3.82417 11.63 2.71833 12.7716Z" stroke="#793C26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M3.33335 1.66663C2.33335 3.08329 1.66669 4.74996 1.66669 6.66663" stroke="#793C26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_4803_1407">
        <rect width="20" height="20" fill="white"/>
        </clipPath>
        </defs>
    </svg> 
    Notify me</span>When Price Drops
</div>