{% liquid
  assign table_id = table_id | default: 'gold-rate-weight-table'
  assign table_title = table_title | default: 'Gold Rate Table'
  assign table_description = table_description | default: ''
  assign rate_value = rate_value | plus: 0
  assign rate_display = rate_display | default: rate_value | round
  assign row_labels = row_labels | default: '' | split: '|'
  assign row_multipliers = row_multipliers | default: '' | split: '|'
  assign row_suffixes = row_suffixes | default: '' | split: '|'
  assign column_label = column_label | default: 'Price'
%}

<div class="gold-rate-page__band gold-rate-page__band--table" id="{{ table_id }}">
  <div class="page-width gold-rate-page__copy-block">
    <h2>{{ table_title }}</h2>
    {% if table_description != blank %}
      <p class="gold-rate-page__table-description">{{ table_description }}</p>
    {% endif %}
    <div class="gold-rate-page__table-wrap">
      <table class="gold-rate-page__table">
        <thead>
          <tr>
            <th scope="col">Weight</th>
            <th scope="col">{{ column_label }}</th>
          </tr>
        </thead>
        <tbody>
          {% for label in row_labels %}
            {% assign weight_index = forloop.index0 %}
            {% assign multiplier = row_multipliers[weight_index] | plus: 0 %}
            {% assign suffix = row_suffixes[weight_index] | default: '' %}
            <tr>
              <th scope="row">{{ label }}</th>
              <td>&#8377;{{ rate_value | times: multiplier | round }}{% if suffix != blank %} {{ suffix }}{% endif %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
