{% comment %}
  Header Mega Menu with Hover Image Swap
{% endcomment %}

<nav class="header__inline-menu desktop-menu">
  <div class="small-logo">
    <a href="{{ routes.root_url }}">
      <svg class="icon icon-lucira-logo" width="30" height="40">
        <use xlink:href="#icon-lucira-logo"></use>
      </svg>
    </a>
  </div>

  <ul class="list-menu list-menu--inline" role="list">

    {%- for link in section.settings.menu.links -%}
      {%- assign current_parent_index = forloop.index -%}

      <li>

      {%- if link.links != blank -%}

      <header-menu>

      <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">

      <summary
        id="HeaderMenu-{{ link.handle }}"
        class="header__menu-item list-menu__item link focus-inset"
      >

      <a href="{{ link.url }}">
        <span>{{ link.title | escape }}</span>
      </a>

      {{ 'icon-caret.svg' | inline_asset_content }}

      </summary>

      <div
        id="MegaMenu-Content-{{ forloop.index }}"
        class="mega-menu__content color-{{ section.settings.menu_color_scheme }} gradient motion-reduce global-settings-popup"
        tabindex="-1"
      >

      <div class="mega-menu-wrapper">

      <!-- MENU LINKS -->
      <ul
        class="mega-menu__list page-width"
        role="list"
      >

      {%- for childlink in link.links -%}

      <li>

      <a
        href="{{ childlink.url }}"
        class="mega-menu__link mega-menu__link--level-2 link"
      >
        {{ childlink.title }}
      </a>

      {%- if childlink.links != blank -%}

      <ul class="list-unstyled">

      {%- for grandchildlink in childlink.links -%}

      {%- assign hover_collection = grandchildlink.object -%}
      {%- assign hover_image = '' -%}

      {%- if hover_collection and hover_collection.image -%}
      {%- assign hover_image = hover_collection.image | image_url: width: 600 -%}
      {%- endif -%}

      <li>

      <a
        href="{{ grandchildlink.url }}"
        class="mega-menu__link mega-menu-hover-trigger"
        data-hover-image="{{ hover_image }}"
      >

      {{ grandchildlink.title }}

      </a>

      </li>

      {%- endfor -%}

      </ul>

      {%- endif -%}

      </li>

      {%- endfor -%}

      </ul>

      <!-- SIDE IMAGE -->
      <div class="mega-menu-side-image">

      {% assign first_collection = link.links.first.links.first.object %}

      {% if first_collection and first_collection.image %}
      {% assign default_image = first_collection.image | image_url: width: 600 %}
      {% endif %}

      <img
        class="mega-menu-hover-image"
        src="{{ default_image }}"
        loading="lazy"
        alt="Menu Image"
      >

      </div>

      </div>

      </div>

      </details>

      </header-menu>

      {%- else -%}

      <a
        href="{{ link.url }}"
        class="header__menu-item list-menu__item link link--text focus-inset"
      >
        <span>{{ link.title }}</span>
      </a>

      {%- endif -%}

      </li>

      {%- endfor -%}

  </ul>

</nav>



<script>

document.addEventListener("DOMContentLoaded", function () {

const triggers = document.querySelectorAll(".mega-menu-hover-trigger");
const image = document.querySelector(".mega-menu-hover-image");

if(!image) return;

const defaultSrc = image.src;

triggers.forEach(link => {

link.addEventListener("mouseenter", function(){

const newImg = this.dataset.hoverImage;

if(newImg){
image.src = newImg;
}

});

link.addEventListener("mouseleave", function(){
image.src = defaultSrc;
});

});

});

</script>



<style>

.mega-menu-wrapper{
display:flex;
gap:60px;
align-items:flex-start;
}

.mega-menu-side-image{
width:320px;
flex-shrink:0;
}

.mega-menu-side-image img{
width:100%;
height:auto;
display:block;
transition:opacity .25s ease;
}

</style>