{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {{- 'icon-hamburger.svg' | inline_asset_content -}}
        {{- 'icon-close.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <div class="image-menu-mobile-slider">
            <img
              src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/b8ff15c682fd29ab7138014d8a2c5a72c549507f.jpg?v=1761815268"
              width="100%"
              height="150"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/b8ff15c682fd29ab7138014d8a2c5a72c549507f.jpg?v=1761815268"
              width="100%"
              height="150"
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/b8ff15c682fd29ab7138014d8a2c5a72c549507f.jpg?v=1761815268"
              width="100%"
              height="150"
            >
          </div>
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="title-mobile-css border-css-menu-mobile menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {%- assign parent_collection = link.object -%}
                        {%- if parent_collection
                          and parent_collection.metafields.custom.menu_image_svg_sprite != blank
                        -%}
                          <span class="menu-parent-icon">
                            <svg class="icon">
                              {{ parent_collection.metafields.custom.menu_image_svg_sprite }}
                            </svg>
                          </span>
                        {%- elsif parent_collection and parent_collection.metafields.custom.mega_menu_image != blank -%}
                          <span class="menu-parent-icon">
                            <img
                              src="{{ parent_collection.metafields.custom.mega_menu_image | image_url: width: 40 }}"
                              alt="{{ link.title | escape }}"
                              loading="lazy"
                            >
                          </span>
                        {%- endif -%}

                        <span class="menu-parent-title">{{ link.title | escape }}</span>
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            <span class="svg-wrapper">
                              {{- 'icon-arrow.svg' | inline_asset_content -}}
                            </span>
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  {%- assign has_image = false -%}
                                  {%- for grandchildlink in childlink.links -%}
                                    {%- assign grandchild_collection = grandchildlink.object -%}
                                    {%- if grandchild_collection != blank -%}
                                      {%- if grandchild_collection.metafields.custom.menu_image_svg_sprite != blank
                                        or grandchild_collection.metafields.custom.mega_menu_image != blank
                                      -%}
                                        {%- assign has_image = true -%}
                                        {%- break -%}
                                      {%- endif -%}
                                    {%- endif -%}
                                  {%- endfor -%}

                                  <div class="menu-drawer__submenu-inline always-open">
                                    <div
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset has-grandchildren"
                                    >
                                      {%- assign child_collection = childlink.object -%}
                                      {%- if child_collection
                                        and child_collection.metafields.custom['Menu Image - SVG Sprite'] != blank
                                      -%}
                                        <div class="menu-image">
                                          <img
                                            src="{{ child_collection.metafields.custom["Menu Image - SVG Sprite"] | image_url: width: 60 }}"
                                            alt="{{ childlink.title | escape }}"
                                            loading="lazy"
                                          >
                                        </div>
                                      {%- endif -%}

                                      <span class="menu-title">{{ childlink.title | escape }}</span>
                                    </div>

                                    <ul
                                      class="{% unless has_image %}without-image-menu-click{% endunless %} menu-drawer__submenu-list list-menu always-open-list {{ childlink.title | downcase | replace: "'", "" | replace: " ","" }}"
                                      role="list"
                                    >
                                      {%- for grandchildlink in childlink.links -%}
                                        {%- if childlink.title == 'EDUCATION' -%}
                                          <div class="education-image">
                                            <img
                                              src="{{ grandchildlink.object.image | image_url: width: 60 }}"
                                              alt="{{ childlink.title | escape }}"
                                              loading="lazy"
                                            >
                                          </div>
                                        {%- endif -%}

                                        <li class="{{ grandchildlink.title | downcase | replace: "'", "" }}-grandchild-menuLink grandchild-link">
                                                                                  {%- if childlink.title == 'EDUCATION' -%}
                                          <div class="education-image">
                                            <img
                                              src="{{ grandchildlink.object.image | image_url: width: 60 }}"
                                              alt="{{ childlink.title | escape }}"
                                              loading="lazy"
                                            >
                                          </div>
                                        {%- endif -%}

                                          <a
                                            id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                            href="{{ grandchildlink.url }}"
                                            class="grandchild-a-tag menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                            {% if grandchildlink.current %}
                                              aria-current="page"
                                            {% endif %}
                                          >
                                            {%- assign grandchild_collection = grandchildlink.object -%}
                                            {%- if grandchild_collection != blank -%}
                                              {%- if grandchild_collection.metafields.custom.menu_image_svg_sprite
                                                  != blank
                                              -%}
                                                <div class="mega-menu__image">
                                                  <svg class="icon menu-image-icon">
                                                    {{ grandchild_collection.metafields.custom.menu_image_svg_sprite }}
                                                  </svg>
                                                </div>
                                              {%- elsif grandchild_collection.metafields.custom.mega_menu_image != blank
                                              -%}
                                                <div class="mega-menu__image">
                                                  <img
                                                    src="{{ grandchild_collection.metafields.custom.mega_menu_image | image_url: width: 160 }}"
                                                    alt="{{ grandchild_collection.title | escape }}"
                                                    width="24"
                                                    height="24"
                                                    loading="lazy"
                                                  >
                                                </div>
                                              {%- endif -%}
                                            {%- endif -%}
                                            <span class="great-grand-child-menu menu-title {{ childlink.title | downcase | replace: "'", "" | replace: " ",""}}-grandchild-title">
                                              {{- grandchildlink.title | escape -}}
                                            </span>
                                          </a>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </div>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="title-mobile-css border-css-menu-mobile menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>

          <div class="services-section">
            <h3 class="services-title">SERVICES</h3>
            <div class="services-grid">
              <div class="service-card border service-try-home">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="24" height="24" rx="12" fill="#F3DCE0"/>
                  <path d="M17.9996 14.9843V16.7908C18.0003 16.9585 17.9659 17.1245 17.8986 17.2781C17.8313 17.4318 17.7325 17.5697 17.6087 17.6831C17.4849 17.7965 17.3387 17.8828 17.1795 17.9365C17.0203 17.9903 16.8517 18.0102 16.6843 17.9951C14.8277 17.7938 13.0443 17.1606 11.4773 16.1465C10.0195 15.222 8.78356 13.9884 7.8572 12.5335C6.83752 10.9626 6.20294 9.17405 6.0049 7.31277C5.98982 7.14625 6.00965 6.97843 6.06312 6.81998C6.11659 6.66153 6.20254 6.51592 6.31548 6.39244C6.42843 6.26896 6.5659 6.1703 6.71915 6.10274C6.87239 6.03519 7.03805 6.00022 7.20558 6.00006H9.01565C9.30846 5.99718 9.59233 6.10067 9.81435 6.29122C10.0364 6.48178 10.1814 6.74641 10.2224 7.03578C10.2988 7.61389 10.4404 8.18152 10.6447 8.72785C10.7259 8.94338 10.7435 9.17761 10.6953 9.4028C10.6472 9.62799 10.5354 9.83469 10.3732 9.99841L9.60694 10.7632C10.4658 12.2707 11.7165 13.5189 13.2271 14.3761L13.9933 13.6114C14.1574 13.4495 14.3645 13.3379 14.5901 13.2899C14.8158 13.2419 15.0505 13.2594 15.2664 13.3404C15.8138 13.5443 16.3826 13.6857 16.9619 13.7619C17.2549 13.8032 17.5226 13.9505 17.714 14.1759C17.9053 14.4013 18.007 14.689 17.9996 14.9843Z" stroke="#666666" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                <span class="service-text">Try At Home</span>
              </div>

              <div class="service-card pink-bg service-video-call">
                <span class="service-icon">📞</span>
                <span class="service-text">Video Call</span>
              </div>

              <div class="service-card green-bg service-whatsapp">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="24" height="24" rx="12" fill="#F3DCE0"/>
                  <path d="M17.9996 14.9843V16.7908C18.0003 16.9585 17.9659 17.1245 17.8986 17.2781C17.8313 17.4318 17.7325 17.5697 17.6087 17.6831C17.4849 17.7965 17.3387 17.8828 17.1795 17.9365C17.0203 17.9903 16.8517 18.0102 16.6843 17.9951C14.8277 17.7938 13.0443 17.1606 11.4773 16.1465C10.0195 15.222 8.78356 13.9884 7.8572 12.5335C6.83752 10.9626 6.20294 9.17405 6.0049 7.31277C5.98982 7.14625 6.00965 6.97843 6.06312 6.81998C6.11659 6.66153 6.20254 6.51592 6.31548 6.39244C6.42843 6.26896 6.5659 6.1703 6.71915 6.10274C6.87239 6.03519 7.03805 6.00022 7.20558 6.00006H9.01565C9.30846 5.99718 9.59233 6.10067 9.81435 6.29122C10.0364 6.48178 10.1814 6.74641 10.2224 7.03578C10.2988 7.61389 10.4404 8.18152 10.6447 8.72785C10.7259 8.94338 10.7435 9.17761 10.6953 9.4028C10.6472 9.62799 10.5354 9.83469 10.3732 9.99841L9.60694 10.7632C10.4658 12.2707 11.7165 13.5189 13.2271 14.3761L13.9933 13.6114C14.1574 13.4495 14.3645 13.3379 14.5901 13.2899C14.8158 13.2419 15.0505 13.2594 15.2664 13.3404C15.8138 13.5443 16.3826 13.6857 16.9619 13.7619C17.2549 13.8032 17.5226 13.9505 17.714 14.1759C17.9053 14.4013 18.007 14.689 17.9996 14.9843Z" stroke="#666666" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

                <span class="service-text">WhatsApp Us</span>
              </div>

              <div class="service-card border service-chat">
                <span class="service-icon">💭</span>
                <span class="service-text">Chat With Us</span>
              </div>
            </div>
          </div>

          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
                rel="nofollow"
              >
                {%- if section.settings.enable_customer_avatar -%}
                  <account-icon>
                    {%- if customer and customer.has_avatar? -%}
                      {{ customer | avatar }}
                    {%- else -%}
                      <span class="svg-wrapper">
                        {{- 'icon-account.svg' | inline_asset_content -}}
                      </span>
                    {%- endif -%}
                  </account-icon>
                {%- else -%}
                  <span class="svg-wrapper">
                    {{- 'icon-account.svg' | inline_asset_content -}}
                  </span>
                {%- endif -%}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-twitter.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-facebook.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-pinterest.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-instagram.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tiktok.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tumblr.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-snapchat.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-youtube.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item ">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-vimeo.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
