<ul class="mega-menu__list megamenu-with-image page-width">
  {%- for childlink in link.links -%}
    {% assign image_url = '' %}

    {% if menu_images_toggle == 'featured' %}
      {% if childlink.object.featured_image %}
        {% assign image_url = childlink.object.featured_image | img_url: 'master' %}
      {% endif %}
    {% elsif menu_images_toggle == 'metafield' %}
      {% assign image_url = childlink.object.metafields.custom.header_menu_image | img_url: 'master' %}
    {% endif %}
    
    <li>
      <div class="mega-menu__column">
        {% if image_url != blank %}
          <a href="{{ childlink.url }}">
            <img data-src="{{ image_url }}" alt="{{ childlink.title | escape }}" class="mega-menu__image" title="{{ childlink.title | escape }}" width="338" height="340" loading="lazy" class="lazy-hidden">
            <span class="hide-element">{{ childlink.title | escape }}</span>
          </a>
        {% endif %}
        <a id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}" href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %} {% if menu_titles_toggle %}hide-title{% endif %}" {% if childlink.current %} aria-current="page" {% endif %}>
          {{ childlink.title | escape }}
        </a>
      </div>
    </li>
  {%- endfor -%}
</ul>

<style>
  .menu-backdrop { display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.5); z-index: 3; }
  

</style>

{% if megamenu_backdrop_toggle %}

  <style>
    #menu-backdrop { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.5); z-index: 3; }
  </style>
  
{% endif %}
