{% assign gold_city_handle = page.metafields.custom.city_name | handleize %}
{% assign gold_city_page_handle = gold_city_handle | append: '-gold-rate-today' %}

{% assign platinum_city_handle = page.metafields.custom.city_name | handleize %}
{% assign platinum_city_page_handle = platinum_city_handle | append: '-platinum-rate-today' %}

{% assign silver_city_handle = page.metafields.custom.city_name | handleize %}
{% assign silver_city_page_handle = silver_city_handle | append: '-silver-rate-today' %}

{% if template == 'list-collections' %}
  <title>Lucira Jewelry | Lab Grown Diamond All Jewelry Collections</title>
  <meta
    name="description"
    content="Explore our lab grown diamond jewelry collection of all jewelries at Lucira Jewelry. Explore rings, bracelets, earrings, necklaces, bangles and many more. Buy Now!"
  >
{% elsif page.handle contains gold_city_page_handle %}
  <title>
    Gold Rate Today in {{ page.metafields.custom.city_name }} 24k,22k,18k on {{ 'now' | date: "%d %B %Y %H:%M:%S" }}
  </title>
  <meta
    name="description"
    content="Gold Rate Today in {{ page.metafields.custom.city_name }} - {{ 'now' | date: "%d %B %Y %H:%M:%S" }} Get real-time gold rates for 14k, 18k, 22k & 24k in {{ page.metafields.custom.city_name }} and the gold rate of yesterday."
  >
{% elsif page.handle contains platinum_city_page_handle %}
  <title>
    {{ page.metafields.custom.city_name }}
    ,
    {{ page.metafields.custom.state_name }}
    platinum Rate Today,
    {{ 'now' | date: '%d %B %Y %H:%M:%S' }}
    | Lucira Jewelry
  </title>
  <meta
    name="description"
    content="Check today's {{ page.metafields.custom.city_name }} platinum rate in {{ page.metafields.custom.state_name }}. Stay updated with live platinum prices from Lucira Jewelry for jewelry and investment decisions."
  >
{% elsif page.handle contains silver_city_page_handle %}
  <title>
    {{ page.metafields.custom.city_name }}
    ,
    {{ page.metafields.custom.state_name }}
    silver Rate Today,
    {{ 'now' | date: '%d %B %Y %H:%M:%S' }}
    | Lucira Jewelry
  </title>
  <meta
    name="description"
    content="Check today's {{ page.metafields.custom.city_name }} Silver rate in {{ page.metafields.custom.state_name }}. Stay updated with live platinum prices from Lucira Jewelry for jewelry and investment decisions."
  >
{% else %}
  <title>{{ page_title }}</title>
{% endif %}
{% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
{% endif %}
{% if template == 'index' %}
  <meta name="keywords" content="Online jewellery shopping in India, Lab Grown Diamond Jewelry">
{% endif %}
{% if collection %}
  <meta name="keywords" content="{{ collection.metafields.custom.seo_keywords }}">
{% endif %}
