<div class="passport-overlay" id="passport-overlay"></div>
<div class="product-passport-drawer" id="product-passport-drawer">
  <div class="Product_Passport">
    <p>Product Passport</p>
    <button class="close-drawer" aria-label="Close">&times;</button>
  </div>
  <div class="passport-content">
    <div class="logo-bar">
      <img
        src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Group_1.png?v=1754560490"
        alt="logo_main_passport"
        class="logo_main_passport"
      >
      {% if product.metafields.custom.passport_barcode %}
        <img src="{{ product.metafields.custom.passport_barcode | image_url }}" alt="Barcode" class="barcode">
      {% endif %}
    </div>

    <ul class="passport-steps">
      {% if product.metafields.custom.product_design %}
        <li class="about_the_content_image">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Frame_1321315661.png?v=1754551576"
            alt="Product Design Icon"
            class="about_the__image"
          >
          <span><strong>Product Design:</strong> {{ product.metafields.custom.product_design }}</span>
        </li>
      {% endif %}
      {% if product.metafields.custom.diamond_origin %}
        <li class="about_the_content_image">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Frame_1321315662.png?v=1754551636"
            alt="Diamond Origin Icon"
            class="about_the__image"
          >
          <span><strong>Diamond Origin:</strong> {{ product.metafields.custom.diamond_origin }}</span>
        </li>
      {% endif %}
      {% if product.metafields.custom.metal_origin %}
        <li class="about_the_content_image">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Frame_1321315665.png?v=1754551673"
            alt="Metal Origin Icon"
            class="about_the__image"
          >
          <span><strong>Metal Origin:</strong> {{ product.metafields.custom.metal_origin }}</span>
        </li>
      {% endif %}
      {% if product.metafields.custom.manufacture %}
        <li class="about_the_content_image">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Frame_1321315665_1.png?v=1754551711"
            alt="Manufacture Icon"
            class="about_the__image"
          >
          <span><strong>Manufacture:</strong> {{ product.metafields.custom.manufacture }}</span>
        </li>
      {% endif %}
      {% if product.metafields.custom.qc_shipping %}
        <li class="about_the_content_image about_the_content_image_last">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Frame_1321315665_2.png?v=1754551732"
            alt="QC Icon"
            class="about_the__image"
          >
          <span><strong>QC and Shipping:</strong> {{ product.metafields.custom.qc_shipping }}</span>
        </li>
      {% endif %}

      <div class="passport-ring-info">
        <img src="{{ product.featured_image | image_url }}" alt="Ring Image" class="product_passport_image">
        <div class="title_days_main">
          <p>
            {{ product.title }}
          </p>
          {% if product.metafields.custom.shipping %}
            <p class="total_font"><span>Total Duration:</span>{{ product.metafields.custom.shipping }} Days</p>
          {% endif %}
        </div>
      </div>
    </ul>

    <div class="make-india">
      <img
        src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Make_In_India_1.png?v=1754551775"
        alt="Make in India"
        class="lion_image"
      >
      <p>MAKE IN INDIA</p>
    </div>
  </div>
</div>