{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - limit: {Number} (optional) When passed, limits the number of media items to render

  Usage:
  {% render 'product-media-gallery' %}
{% endcomment %}

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  if limit == 1
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif
-%}

{% comment %} {% render 'product-media-tabs' %} {% endcomment %}

{% comment %} Add this right after the closing </media-gallery> tag {% endcomment %}
{% comment %} Add this right after the closing </media-gallery> tag {% endcomment %}
<product-media-modal id="ProductMediaModal-{{ section.id }}" class="product-media-modal media-modal">
  <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.product.media.gallery_viewer' | t }}" aria-modal="true" tabindex="-1">
    <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">
      <span class="svg-wrapper">
        {{ 'icon-close.svg' | inline_asset_content }}
      </span>
    </button>
    
    <div class="product-media-modal__content" role="document" aria-label="{{ 'products.product.media.gallery_viewer' | t }}" tabindex="0">
      <slider-component id="GalleryViewer-Modal-{{ section.id }}" class="slider-mobile-gutter">
        <ul
          id="Slider-Gallery-Modal-{{ section.id }}"
          class="product__media-list contains-media grid grid--peek list-unstyled slider slider--mobile"
          role="list"
        >
          {%- if product.selected_or_first_available_variant.featured_media != null -%}
            {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
            <li
              id="Slide-Modal-{{ section.id }}-{{ featured_media.id }}"
              class="product__media-item grid__item slider__slide is-active{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}"
              data-media-id="{{ section.id }}-{{ featured_media.id }}"
            >
              {%- assign media_position = 1 -%}
              {% render 'product-thumbnail',
                media: featured_media,
                media_count: media_count,
                position: media_position,
                desktop_layout: 'stacked',
                mobile_layout: 'stacked',
                loop: section.settings.enable_video_looping,
                modal_id: section.id,
                xr_button: false,
                media_width: 1.0,
                media_fit: section.settings.media_fit,
                constrain_to_viewport: false,
                lazy_load: false,
                in_modal: true
              %}
            </li>
          {%- endif -%}
          
          {%- for media in product.media -%}
            {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
              <li
                id="Slide-Modal-{{ section.id }}-{{ media.id }}"
                class="product__media-item grid__item slider__slide{% if media.media_type != 'image' %} product__media-item--full{% endif %}"
                data-media-id="{{ section.id }}-{{ media.id }}"
              >
                {%- liquid
                  assign media_position = media_position | default: 0 | plus: 1
                  assign lazy_load = true
                -%}
                {% render 'product-thumbnail',
                  media: media,
                  media_count: media_count,
                  position: media_position,
                  desktop_layout: 'stacked',
                  mobile_layout: 'stacked',
                  loop: section.settings.enable_video_looping,
                  modal_id: section.id,
                  xr_button: false,
                  media_width: 1.0,
                  media_fit: section.settings.media_fit,
                  constrain_to_viewport: false,
                  lazy_load: lazy_load,
                  in_modal: true
                %}
              </li>
            {%- endunless -%}
          {%- endfor -%}
        </ul>
        
        <div class="slider-buttons slider-buttons--overlay no-js-hidden">
          <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ media_count }}</span>
          </div>
          <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
        </div>
      </slider-component>
    </div>
  </div>
</product-media-modal>

<div class="hulk-wishlist-icon-wrap mobile-show">
  <div class="iwish-app-block-product"><a class="iWishAdd st-1" href="#" data-variant="{{ product.variants.first.id }}" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}"></a></div>
</div>