<link rel="preload" href="{{ 'wishlist.css' | asset_url }}" as="style" onload="this.rel='stylesheet'">
{% if linkType == 'wishlist-drawer-link' %}
  <a class="iwishDrawer header__icon iw_desk_link" title="Wishlist"><span class="svg-wrapper"><svg viewBox="0 0 256 256" width="20" class="iwishOutline" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="256" width="256"></rect><path d="M128,216S28,160,28,92A52,52,0,0,1,128,72h0A52,52,0,0,1,228,92C228,160,128,216,128,216Z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="15"></path></svg></span> <span class="iwish-counter iw-count-show" style="display:none;">0</span></a>
{% elsif linkType == 'wishlist-drawer-mob-link' %}
	<li class="iw_mob_link">
        <a class="iwishDrawer link--text list-menu__item menu-drawer__menu-item">WISHLIST <span class="iw-count-show" style="display:none;">(<span class="iwish-counter">0</span>)</span></a>
    </li>
{% elsif linkType == 'wishlist-page-link' %}
  <a href ="javascript:void(0)" class="iwishPage header__icon small-hide" href="{% unless routes.root_url == '/' %}{{ routes.root_url }}{% endunless %}/apps/iwish" title="Wishlist"><i class="icon-wishlist-heart-empty" data-fill="false"></i> <span class="iwish-counter">0</span></a>
{% elsif linkType == 'list-product' %}
  <a href ="javascript:void(0)" class="iWishAddColl iwishcheck" data-variant="{{ product.variants.first.id }}" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}" aria-label="Add {{ product.title }} to wishlist"></a>
{% elsif linkType == 'single-product' %}
  <div class="iwish-app-block-product"><a class="iWishAdd st-1" data-variant="{{ product.variants.first.id }}" data-product="{{ product.id }}" data-pTitle="{{ product.title | escape }}"></a></div>
{% elsif linkType == 'app-script' %}
  <script>
    function iWishCounter() {
	       	try{
	         if (typeof iWish !== 'undefined' ){
	            if(iWish.getCounter() <= 0){
	              document.querySelectorAll(".iw-count-show").forEach((elm) => {
	                elm.style.display = 'none';
	              })
	            }
	            else{
	              document.querySelectorAll(".iw-count-show").forEach((elm) => {
	                elm.style.display = 'inline-flex';
	              })
	            }
	          }
	       }
	       catch(error){
	         //console.log(error);
	       }
	    }

		function iWishRemoveFn(vId){
			try{
			iWishCounter();
			}
			catch(error){
			//console.log(error);
			}
		}
		function iWishAddFn(vId){
			try{
			iWishCounter();
			}
			catch(error){
			//console.log(error);
			}
		}
		function iWishinitFn(){
			try{
			iWishCounter();
			}
			catch(error){
			//console.log(error);
			}
		}
		function iw_cart_update(vId, pId, catId){
			try{
				const currentCart = document.querySelector('cart-drawer');				
				fetch('/cart.js')
				.then((response) => response.json())
				.then((data) => {				
					publish(PUB_SUB_EVENTS.cartUpdate, { cartData: data });
					if (currentCart && currentCart.classList.contains('is-empty')){
						currentCart.classList.remove('is-empty');
						if(document.querySelector('cart-drawer .drawer__inner-empty')){
							document.querySelector('cart-drawer .drawer__inner-empty').style.display = 'none';						
						}
						document.querySelector('cart-drawer .checkout-button').style.display = 'block';
						document.querySelector('cart-drawer .checkout-info').style.display = 'flex';												
						document.querySelector(".cart-drawer .cart__checkout-button").removeAttribute('disabled');						
					}
					if( document.querySelectorAll( ".cart-count-bubble" ).length == 0) {
					document.querySelector( ".header__icon--cart" ).innerHTML = `<span class="svg-wrapper"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_3304_3326" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="#333333"></rect></mask><g mask="url(#mask0_3304_3326)"><path d="M5.3058 21.501C4.80713 21.501 4.38113 21.3244 4.0278 20.9712C3.67463 20.6179 3.49805 20.1919 3.49805 19.6932V8.30873C3.49805 7.81006 3.67463 7.38406 4.0278 7.03073C4.38113 6.67756 4.80713 6.50098 5.3058 6.50098H7.49805C7.49805 5.25231 7.93588 4.19014 8.81155 3.31448C9.68721 2.43881 10.7494 2.00098 11.998 2.00098C13.2467 2.00098 14.3089 2.43881 15.1845 3.31448C16.0602 4.19014 16.498 5.25231 16.498 6.50098H18.6903C19.189 6.50098 19.615 6.67756 19.9683 7.03073C20.3215 7.38406 20.498 7.81006 20.498 8.30873V19.6932C20.498 20.1919 20.3215 20.6179 19.9683 20.9712C19.615 21.3244 19.189 21.501 18.6903 21.501H5.3058ZM5.3058 20.001H18.6903C18.7673 20.001 18.8378 19.9689 18.9018 19.9047C18.966 19.8407 18.998 19.7702 18.998 19.6932V8.30873C18.998 8.23173 18.966 8.16123 18.9018 8.09723C18.8378 8.03306 18.7673 8.00098 18.6903 8.00098H5.3058C5.2288 8.00098 5.1583 8.03306 5.0943 8.09723C5.03013 8.16123 4.99805 8.23173 4.99805 8.30873V19.6932C4.99805 19.7702 5.03013 19.8407 5.0943 19.9047C5.1583 19.9689 5.2288 20.001 5.3058 20.001ZM11.998 13.501C13.2467 13.501 14.3089 13.0631 15.1845 12.1875C16.0602 11.3118 16.498 10.2496 16.498 9.00098H14.998C14.998 9.83431 14.7064 10.5426 14.123 11.126C13.5397 11.7093 12.8314 12.001 11.998 12.001C11.1647 12.001 10.4564 11.7093 9.87305 11.126C9.28971 10.5426 8.99805 9.83431 8.99805 9.00098H7.49805C7.49805 10.2496 7.93588 11.3118 8.81155 12.1875C9.68721 13.0631 10.7494 13.501 11.998 13.501ZM8.99805 6.50098H14.998C14.998 5.66764 14.7064 4.95931 14.123 4.37598C13.5397 3.79264 12.8314 3.50098 11.998 3.50098C11.1647 3.50098 10.4564 3.79264 9.87305 4.37598C9.28971 4.95931 8.99805 5.66764 8.99805 6.50098Z" fill="#333333"></path></g></svg><svg class="local_mall_white" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><mask id="mask0_3304_3317" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24"><rect width="24" height="24" fill="#D9D9D9"></rect></mask><g mask="url(#mask0_3304_3317)"><path d="M5.3058 21.501C4.80713 21.501 4.38113 21.3244 4.0278 20.9712C3.67463 20.6179 3.49805 20.1919 3.49805 19.6932V8.30873C3.49805 7.81006 3.67463 7.38406 4.0278 7.03073C4.38113 6.67756 4.80713 6.50098 5.3058 6.50098H7.49805C7.49805 5.25231 7.93588 4.19014 8.81155 3.31448C9.68721 2.43881 10.7494 2.00098 11.998 2.00098C13.2467 2.00098 14.3089 2.43881 15.1845 3.31448C16.0602 4.19014 16.498 5.25231 16.498 6.50098H18.6903C19.189 6.50098 19.615 6.67756 19.9683 7.03073C20.3215 7.38406 20.498 7.81006 20.498 8.30873V19.6932C20.498 20.1919 20.3215 20.6179 19.9683 20.9712C19.615 21.3244 19.189 21.501 18.6903 21.501H5.3058ZM5.3058 20.001H18.6903C18.7673 20.001 18.8378 19.9689 18.9018 19.9047C18.966 19.8407 18.998 19.7702 18.998 19.6932V8.30873C18.998 8.23173 18.966 8.16123 18.9018 8.09723C18.8378 8.03306 18.7673 8.00098 18.6903 8.00098H5.3058C5.2288 8.00098 5.1583 8.03306 5.0943 8.09723C5.03013 8.16123 4.99805 8.23173 4.99805 8.30873V19.6932C4.99805 19.7702 5.03013 19.8407 5.0943 19.9047C5.1583 19.9689 5.2288 20.001 5.3058 20.001ZM11.998 13.501C13.2467 13.501 14.3089 13.0631 15.1845 12.1875C16.0602 11.3118 16.498 10.2496 16.498 9.00098H14.998C14.998 9.83431 14.7064 10.5426 14.123 11.126C13.5397 11.7093 12.8314 12.001 11.998 12.001C11.1647 12.001 10.4564 11.7093 9.87305 11.126C9.28971 10.5426 8.99805 9.83431 8.99805 9.00098H7.49805C7.49805 10.2496 7.93588 11.3118 8.81155 12.1875C9.68721 13.0631 10.7494 13.501 11.998 13.501ZM8.99805 6.50098H14.998C14.998 5.66764 14.7064 4.95931 14.123 4.37598C13.5397 3.79264 12.8314 3.50098 11.998 3.50098C11.1647 3.50098 10.4564 3.79264 9.87305 4.37598C9.28971 4.95931 8.99805 5.66764 8.99805 6.50098Z" fill="white"></path></g></svg></span><div class="cart-count-bubble"><span aria-hidden="true">${data.item_count}</span></div>`;
					}
					let totalPriceElement = document.querySelector(".cart-drawer .grand-total strong");
					if (totalPriceElement) {
						let total_price = Math.round(data.total_price / 100);
						let formattedPrice = new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR', minimumFractionDigits: 0, maximumFractionDigits: 0 }).format(total_price);
						totalPriceElement.textContent = formattedPrice;
					}
				})
				
			}
			catch(error){
				// console.log(error);
			}
		}

		function addToCartInitCallback(){
			iw_cart_update();
		}

		function addAllToCartInitCallback(){
			iw_cart_update();
		}
  </script>
{% endif %}