
<style>
.charms-and-chakras{text-align:center;padding:40px 0 40px 0}
.chakra-container{margin:0 auto}
.chakra-heading{font-size:24px;text-transform:uppercase;color:#000;margin:0;margin-bottom:40px}
.chakra-image{position:relative;width:87%;margin:0 auto}
.chakra-image img{width:100%;height:auto;border-radius:12px;box-shadow:0 0 20px rgba(255,255,255,.1);display:block}
.chakra-mobile-image{display:none!important}
@media (max-width:768px){
.chakra-desktop-image{display:none!important}
.chakra-mobile-image{display:block!important}
.chakra-image{position:relative;width:95%;margin:0 auto}
.chakra-heading{font-size:18px;text-transform:uppercase;color:#000;margin:0;margin-bottom:32px}
.charms-and-chakras{text-align:center;padding:20px 0 20px 0}
}
</style>
  
<section class="charms-and-chakras">
  <div class="chakra-container">
    {% if section.settings.heading != blank %}
      <h2 class="chakra-heading">{{ section.settings.heading }}</h2>
    {% endif %}

    <div class="chakra-image">
      {% if section.settings.desktop_image != blank %}
        <img 
          class="chakra-desktop-image"
          id="chakra"
          src="{{ section.settings.desktop_image | image_url: width: 1600 }}" 
          alt="{{ section.settings.heading | escape }}" 
          title="{{ section.settings.heading | escape }}" 
          loading="lazy"
          width="auto"
          height="auto"
        >
      {% endif %}

      {% if section.settings.chkr-mobile_image != blank %}
        <img 
          class="chakra-mobile-image"
          id="chakra"
          src="{{ section.settings.chkr-mobile_image | image_url: width: 800 }}" 
          alt="{{ section.settings.heading | escape }}" 
          title="{{ section.settings.heading | escape }}"
          loading="lazy"
           width="auto"
          height="auto"
        >
      {% endif %}
    </div>
  </div>


</section>

{% schema %}
{
  "name": "Charms and Chakras",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "Charms and Chakras"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "chkr-mobile_image",
      "label": "Mobile Image"
    }
  ],
  "presets": [
    {
      "name": "Charms and Chakras"
    }
  ]
}
{% endschema %}
