{{ 'marque-style.css' | asset_url | stylesheet_tag: preload: true }}

<section class="featured-in-section">
  <div class="page-width">
    <div class="featured-in-wrapper">
      <div class="marquee marquee--horizontal">
        <div class="marquee__group">
        {% for block in section.blocks %}
            <img
            src="{{ block.settings.logo_image | img_url: '250x' }}"
            alt="{{ block.settings.logo_alt }}"
            title="{{ block.settings.logo_alt }}"
            width="auto"
            height="auto"
            >
        {% endfor %}
        </div>

        <div class="marquee__group" aria-hidden="true">
        {% for block in section.blocks %}
            <img
            src="{{ block.settings.logo_image | img_url: '250x' }}"
            alt="{{ block.settings.logo_alt }}"
            title="{{ block.settings.logo_alt }}"
            width="auto"
            height="auto"
            >
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}

{
  "name": "Featured In Logos Marquee",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Featured In"
    },
    {
      "type": "range",
      "id": "speed",
      "label": "Marquee Speed",
      "min": 5,
      "max": 50,
      "step": 1,
      "default": 20
    }
  ],

  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo_image",
          "label": "Logo Image"
        },
        {
          "type": "text",
          "id": "logo_alt",
          "label": "Alt Text",
          "default": "Logo"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Featured In Logos Marquee",
      "category": "Custom Sections"
    }
  ]
}

{% endschema %}