{{ 'plp-product-card.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'product-card.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-card.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-slider.css' | asset_url | stylesheet_tag: preload: true }}

<section class="lucira-featured-collection">
    <div class="heading-wrapper">
        <h2 class="lucira-wc-header">{{ section.settings.featured_collection_heading }}</h2>
        <p class="lucira-wc-subheader">{{ section.settings.featured_collection_subheading }}</p>
    </div>
    <div class="page-width">
        <div class="lucira-featured-wrapper">
        <div class="lucira-featured-left">
            {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | image_url: width: 600 }}" alt="featured" width="100%" height="auto">
            {% endif %}
        </div>
        <div class="lucira-featured-right">
            
            <div class="swiper lucira-featured-swiper">
            <div class="swiper-wrapper">
                {% for block in section.blocks %}
                {% assign product = block.settings.product %}
                <div class="swiper-slide">
                    {% if product != blank %}
                    {% capture di_values %}
                        {% render 'di-discount-calc',
                        product: product,
                        stone_pricing_db: shop.metafields['DI-GoldPrice'].stone_pricing.value
                        %}
                    {% endcapture %}
                    {% assign di_parts = di_values | strip | split: '|' %}
                    {% assign diamond_percent = di_parts[0] | plus: 0 %}
                    {% assign mc_percent = di_parts[1] | plus: 0 %}
                    {% render 'card-product',
                        card_product: product,
                        diamond_percent: diamond_percent,
                        mc_percent: mc_percent,
                        media_aspect_ratio: 'adapt',
                        show_secondary_image: false,
                        show_vendor: false,
                        show_rating: false,
                        section_id: section.id
                    %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            </div>
        </div>
        </div>
    </div>
</section>

<style>
    .lucira-featured-swiper { margin-top: 0; }
    .lucira-featured-wrapper { display: flex; gap: 14px; align-items: flex-start; justify-content: flex-start; }
    .lucira-featured-left{width:24%}
    .lucira-featured-left img{width: 100%; border-radius: 12px; display: block; height: 100%; object-fit: cover;}
    .lucira-featured-right{width:76%}
    .lucira-featured-swiper{margin-top:0px}
    .lucira-featured-swiper .swiper-slide{width:auto}
    .lucira-featured-swiper .swiper-button-next,.lucira-featured-swiper .swiper-button-prev{color:#000}
    .lucira-featured-collection .page-width {width: calc(100% - ((100% - 92%) / 2)) !important; max-width: none !important; margin-left: calc((100% - 92%) / 2) !important; margin-right: 0 !important; padding: 0 !important;}
    .lucira-featured-collection h2.lucira-wc-header { font-size: 24px; margin: 0; font-weight: 500; line-height: 1.7; text-align: center; vertical-align: middle; text-transform: uppercase; color: #1a1a1a; }
    .lucira-featured-collection p.lucira-wc-subheader { text-align: center; font-size: 18px; color: #666; font-family: Futura Std, sans-serif; margin: 0 0 40px; }
    section.lucira-featured-collection { padding-top: 30px; }
    @media (max-width:749px){
        .lucira-featured-wrapper{flex-direction:column}
        .lucira-featured-left,.lucira-featured-right{width:100%}
        .lucira-featured-swiper{margin-top:20px}
        .lucira-featured-collection .page-width {width: 100% !important; padding: 0 12px !important; margin-left: 0 !important;}
    }
</style>

<script>
document.addEventListener("DOMContentLoaded", function () {
  new Swiper(".lucira-featured-swiper", {
    slidesPerView: 4.2,
    spaceBetween: 14,
    loop: true,

    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    breakpoints: {
      0: {
        slidesPerView: 2.2,
        spaceBetween: 12,
      },
      768: {
        slidesPerView: 3.2,
      },
      1024: {
        slidesPerView: 3.2,
      }
    }
  });
});
</script>

{% schema %}

{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Left Image"
    },
    {
      "type": "text",
      "id": "featured_collection_heading",
      "default": "HINA KHAN’S FAVOURITE",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "featured_collection_subheading",
      "default": "Lorem ipsum...",
      "label": "Subheading"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Collection Swiper"
    }
  ]
}

{% endschema %}