{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
#Banner-{{ section.id }} {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('{{ section.settings.image | image_url: width: 2000 }}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: {% if section.settings.image_height == "adapt" and section.settings.image != blank %}
    {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}vw
  {% elsif section.settings.image_height == "small" %}
    300px
  {% elsif section.settings.image_height == "medium" %}
    500px
  {% elsif section.settings.image_height == "large" %}
    700px
  {% else %}
    500px
  {% endif %};
}

@media screen and (max-width: 749px) {
  #Banner-{{ section.id }} {
    background-image: url('{{ section.settings.mobilebannerimage | image_url: width: 1000 }}');
    min-height: {% if section.settings.image_height == "adapt" and section.settings.mobilebannerimage != blank %}
      {{ 1 | divided_by: section.settings.mobilebannerimage.aspect_ratio | times: 100 }}vw
    {% else %}
      400px
    {% endif %};
  }
}

#Banner-{{ section.id }}::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 
    {% if template.name == 'article' %}
      0
    {% else %}
      {{ section.settings.image_overlay_opacity | divided_by: 100.0 }}
    {% endif %}
  );
  pointer-events: none;
  opacity: 0.7;
}

#Banner-{{ section.id }} .banner__content {
  position: relative;
  z-index: 2;
  text-align: {{ section.settings.desktop_content_alignment }};
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

@media screen and (max-width: 749px) {
  #Banner-{{ section.id }} .banner__content {
    text-align: {{ section.settings.mobile_content_alignment }};
  }
}
{%- endstyle -%}

<div 
  id="Banner-{{ section.id }}" 
  class="banner banner--{{ section.settings.image_height }}{% if section.settings.show_text_below %} banner--mobile-bottom{% endif %}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
  
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }}">
    <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient">
      
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="banner__heading inline-richtext {{ block.settings.heading_size }}">
              {{ block.settings.heading }}
            </h2>

          {%- when 'text' -%}
            <div class="banner__text rte {{ block.settings.text_style }}">
              <p>{{ block.settings.text }}</p>
            </div>

          {%- when 'buttons' -%}
            <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}">
              {%- if block.settings.button_label_1 != blank -%}
                <a href="{{ block.settings.button_link_1 | default: '#' }}" class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}">
                  {{ block.settings.button_label_1 }}
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a href="{{ block.settings.button_link_2 | default: '#' }}" class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}">
                  {{ block.settings.button_label_2 }}
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Custom Background Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Desktop Banner Image"
    },
    {
      "type": "image_picker",
      "id": "mobilebannerimage",
      "label": "Mobile Banner Image"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Overlay Opacity",
      "default": 30
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        { "value": "adapt", "label": "Adapt to Image" },
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium",
      "label": "Banner Height"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "label": "Desktop Content Position",
      "options": [
        { "value": "top-left", "label": "Top Left" },
        { "value": "top-center", "label": "Top Center" },
        { "value": "top-right", "label": "Top Right" },
        { "value": "middle-left", "label": "Middle Left" },
        { "value": "middle-center", "label": "Middle Center" },
        { "value": "middle-right", "label": "Middle Right" },
        { "value": "bottom-left", "label": "Bottom Left" },
        { "value": "bottom-center", "label": "Bottom Center" },
        { "value": "bottom-right", "label": "Bottom Right" }
      ],
      "default": "middle-center"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        { "value": "left", "label": "Align Left" },
        { "value": "center", "label": "Align Center" },
        { "value": "right", "label": "Align Right" }
      ],
      "default": "center",
      "label": "Desktop Content Alignment"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        { "value": "left", "label": "Align Left" },
        { "value": "center", "label": "Align Center" },
        { "value": "right", "label": "Align Right" }
      ],
      "default": "center",
      "label": "Mobile Content Alignment"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "Show Text Box"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "Show Text Below Image (on Mobile)"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        { "type": "inline_richtext", "id": "heading", "default": "Your Heading", "label": "Heading Text" },
        { "type": "select", "id": "heading_size", "options": [
            { "value": "h2", "label": "H2" },
            { "value": "h1", "label": "H1" },
            { "value": "hxl", "label": "Extra Large" }
          ],
          "default": "h1",
          "label": "Heading Size"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        { "type": "inline_richtext", "id": "text", "default": "This is your banner text.", "label": "Text" },
        { "type": "select", "id": "text_style", "options": [
            { "value": "body", "label": "Body" },
            { "value": "subtitle", "label": "Subtitle" },
            { "value": "caption-with-letter-spacing", "label": "Caption" }
          ],
          "default": "body",
          "label": "Text Style"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "settings": [
        { "type": "text", "id": "button_label_1", "label": "Button 1 Label" },
        { "type": "url", "id": "button_link_1", "label": "Button 1 Link" },
        { "type": "checkbox", "id": "button_style_secondary_1", "default": false, "label": "Make Button 1 Secondary" },
        { "type": "text", "id": "button_label_2", "label": "Button 2 Label" },
        { "type": "url", "id": "button_link_2", "label": "Button 2 Link" },
        { "type": "checkbox", "id": "button_style_secondary_2", "default": false, "label": "Make Button 2 Secondary" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Background Banner",
      "blocks": [
        { "type": "heading" },
        { "type": "text" },
        { "type": "buttons" }
      ]
    }
  ]
}
{% endschema %}
