<style>
  .dp-column-heading-image {
    width: 100%;
    height: auto;
  }
  /* Container */
  .diamond-process-section { width:100%; position:relative; }
  .dp-main-heading { text-align:center; margin:0 0 12px 0; font-size:28px; font-weight:600; }
  .dp-sub-heading { text-align:center; font-size:18px; margin:0 auto; max-width:700px; line-height:22px; margin-bottom:15px; color:#555; }
  .dp-blocks-wrapper { width:70%; margin:0 auto; }

  /* Image Set Block – sticky + bottom-to-top */
  .dp-image-set {
    position: sticky;
    top: 180px;
    min-height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    opacity: 1;
    transform: translateY(80px);
    transition: transform 0.6s ease-out, opacity 0.2s ease-out;
    z-index: 1;
    background: transparent;
  }
  .dp-image-set.active {
    transform: translateY(0);
  }

  /* Final Diamond Block */
  .dp-final-block {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background: #fff;
    opacity: 1;
    transform: none;
    transition: none;
    z-index: 1;
    margin: 0 8rem auto;
  }

  /* Columns */
  .dp-column { display:flex; flex-direction:column; align-items:center; text-align:center; transition: opacity 0.6s ease-out, transform 0.6s ease-out; }
  .dp-column-heading {min-height: 50px; font-size:28px; font-weight:600; margin:0 0 12px 0; color:#666; text-transform:uppercase; letter-spacing:1px; }

  /* Description styling */
  .dp-description {min-height: 268px; max-height: unset; background: #fff; text-align:left; width: 100%; }
  .dp-description h2 { font-size:20px; margin: unset; color: #333; margin-top: 16px; }
  .dp-description p { margin: unset; width:30vw; height:20vh; font-size:14px; margin-top:12px; color:#444; line-height:20px; }

  /* Center image and dot/icon */
  .dp-center-image-container { position: relative; width:fit-content; height:200px; }
  .dp-center-image { object-fit:cover; height:400px; }

  .dp-dot, .dp-icon {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    will-change: transform, opacity, top, left;
    transform-origin: center center;
    display: block !important;
  }

  .dp-image-set.active .dp-dot,
  .dp-image-set.active .dp-icon {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  {% comment %} .dp-final-diamond-img { width:100%; height:auto; transform: scale(1); opacity: 1; } {% endcomment %}
  .dp-final-column { text-align:left; }
  .dp-final-diamond { position:relative; width:400px; height:400px; display:flex; align-items:center; justify-content:center; }

  .diamond-dp-column-heading-image{
    width: unset;
    height: unset;
  }

  .hide-image-container {
    display: none;
  }

  /* CUSTOM DOTS FOR PROCESS STEPS */
  .dp-points-list ul {
    list-style: none;
    padding-left: 0;
    margin-top: 12px;
  }

  .dp-points-list li {
    position: relative;
    max-width: 280px;
    padding-left: 15px;
    margin-bottom: 15px;
    line-height: 1.4;
    text-align: left;
    font-size: 0.95rem;
    color: #444;
  }

  .dp-points-list li p {
      margin: 0;
      line-height: inherit;
  }

  .dp-points-list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--dot-color);
  }

  .dp-points-left { --dot-color: attr(data-dot-color); }
  .dp-points-right { --dot-color: attr(data-dot-color); }

  /* FINAL SECTION */
  .dp-final-points ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .dp-final-points li {
    position: relative;
    max-width: 280px;
    padding-left: 20px;
    margin-bottom: 15px;
    line-height:22px;
    font-size: 12px;
  }

  .dp-final-left h3{
   text-align: left;
      font-size: 28px;
      margin: 0 0 60px 0;
  }
  .dp-final-right h3{
   text-align: right;
      font-size: 28px;
      margin: 0 0 60px 0;
  }

  .dp-column-heading {
    display: block !important;
    min-height: 50px;
    font-size: 24px;
  }
  .dp-final-diamond-img {
    width: 100%;
    height: auto;
  }

  .dp-final-left .dp-final-points li {
    text-align: left;
  }
  .dp-final-left .dp-final-points li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #4CAF50;
  }

  .dp-final-right .dp-final-points li {
    text-align: right;
    padding-right: 20px;
    padding-left: 0;
  }
  .dp-final-right .dp-final-points li::before {
    content: '';
    position: absolute;
    right: 0;
    top: 8px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #F44336;
  }

  .dp-final-points li::before {
    list-type: none;
  }

  .dp-final-left .dp-final-points li,
  .dp-final-right .dp-final-points li {
    margin-bottom: 15px;
  }

  ul.dp-final-points {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .dp-blocks-wrapper-inner {
    flex-direction: column;
    top: 2px !important;
    gap: 10px !important;
    min-height: 50px;
    margin-top:30px;
  }

  .dp-final-left .dp-final-points li:nth-child(1) { max-width: 70%; }
  .dp-final-left .dp-final-points li:nth-child(2) { max-width: 80%; }
  .dp-final-left .dp-final-points li:nth-child(3) { max-width: 90%; }
  .dp-final-left .dp-final-points li:nth-child(4) { max-width: 100%; }

  .dp-final-right .dp-final-points li:nth-child(1) { max-width: 70%; margin-left:auto; }
  .dp-final-right .dp-final-points li:nth-child(2) { max-width: 80%; margin-left:auto; }
  .dp-final-right .dp-final-points li:nth-child(3) { max-width: 90%; margin-left:auto; }
  .dp-final-right .dp-final-points li:nth-child(4) { max-width: 100%; margin-left:auto; }

  .dp-column.dp-dp-points-right {
    max-width: 300px;
}

.dp-description {
    max-width: 300px;
}

.dp-points-list.dp-points-right {
    max-width: 300px;
}

.dp-description p {
    max-width: 300px;
}

.dp-column {
    max-width: 300px;
}

.dp-center-image-container::before {
      content: "";
      position: absolute;
      top: 40px;
      bottom: 0;
      left: 50%;
      width: 3px;
      background-color: #d3d3d3;
      transform: translateX(-50%);
      height: 57vh;
    }

  /* RESPONSIVE */
  @media screen and (max-width: 768px) {
    .dp-column-heading {
      min-height: 21px;
    }
    .dp-points-right p {
      text-align: right;
    }
    .dp-points-right{
      display: flex;
    justify-content: end;
  }
  .dp-points-left{
    display: flex;
  justify-content: flex-start;
    }
    .dp-dp-points-right h2{
      text-align: right;
    }
    .dp-final-block {
      margin: 0 2rem auto;
    }
    .dp-description h2 {
      margin: 15px 0 5px 0;
      font-size: 17px;
    }
    .dp-description p {
      margin: unset;
      width: 40vw;
      height: 20vh;
      font-size: 12px;
      margin-top: 5px;
    }
    .dp-final-right .dp-final-points li::before {
      right: unset;
      left: 0;
    }
    .dp-final-right .dp-final-points li:nth-child(1), .dp-final-right .dp-final-points li:nth-child(2), .dp-final-right .dp-final-points li:nth-child(3){
      max-width: 100%;
    }

    .dp-final-right .dp-final-points li {
      text-align: justify;
    }

    .dp-final-left .dp-final-points li:nth-child(1), .dp-final-left .dp-final-points li:nth-child(2), .dp-final-left .dp-final-points li:nth-child(3) {
      max-width: 100%
    }

    .dp-final-right .dp-final-points li {
      padding-right: unset;
      padding-left: 20px;
    }

    .dp-final-right h3 {
      text-align: unset;
    }
    .diamond-dp-column-heading-image {
      width: 100%;
      height: auto;
      top: 15%;
    }
    .dp-image-set {
      gap: 10px;
      {% comment %} top: 49px !important; {% endcomment %}
    }
    .dp-center-image-container {
      position: absolute;
      width: 22%;
      height: 20%;
    }

    .dp-center-image-container::before {
      content: "";
      position: absolute;
      top: 40px;
      bottom: 0;
      left: 50%;
      width: 3px;
      background-color: #d3d3d3;
      transform: translateX(-50%);
      height: 57vh;
    }
    .dp-image-set.last-dp-image-set{
    overflow:hidden;
    }
    .dp-blocks-wrapper-final{
    z-index:1;
    position:relative;
    background:#ffffff;
    }

    .dp-final-left h3, .dp-final-right h3 {
      margin: 0 0 20px 0;
    }

    .dp-final-block {
      flex-direction: column;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    .dp-final-column,
    .dp-final-diamond {
      order: 0;
    }
    img.dp-column-heading-image-container {
      width: 100%;
      height: unset;
    }
    .dp-column-heading {
      min-height: 20px;
      font-size: 14px;
    }
    .dp-dot {
      top: 15%;
      width: 12px !important;
      height: 12px !important;
    }
    .dp-blocks-wrapper {
      width: 90%;
    }
    .dp-center-image-container {
      width: 40px;
      bottom: 48%;
    }
    .dp-final-column:first-child {
      order: 2;
    }
    .dp-final-diamond {
      order: 1;
      width: 70%;
      height: auto;
    }
    .dp-final-column:last-child {
      order: 3;
    }
    .dp-points-list li,
    .dp-final-points li {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 420px){
    .dp-description p {
      font-size: 10px;
      line-height:1.60;
    }
    .dp-final-left h3 {
      font-size: 23px;
    }
    .dp-column-heading {
      font-size: 12px;
    }
  }
  .dp-blocks-wrapper-inner-final{
  text-align:center;
  }
  .dp-blocks-wrapper-inner-final h2{
  margin:0 12px 0;

  }
  .dp-sub-heading-final{
  padding-bottom:60px;
  }
  body { margin:0; padding:0; }

  {% comment %} try {% endcomment %}
   {% comment %} .dp-final-diamond-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.1s linear;
    max-height: 500px;
    z-index: 10;
  }
  .dp-final-diamond.fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } {% endcomment %}

  .first-dp-image-set {
    background: #fff !important;
  }

  @media screen and (min-width: 768px) and (max-width: 1300px){
    .dp-image-set {
      gap: 30px;
    }

    .dp-center-image {
      height: 350px;
    }
    .dp-dot {
      top: 21%;
    }
  }

  @media screen and (min-width: 551px) and (max-width: 767px) {
    .dp-dot {
      top: 12%;
    }
    .dp-image-set.active .dp-dot, .dp-image-set.active .dp-icon {
    transform: translate(-50%, -50%) scale(1) !important;
    opacity: 1;
}
  }

  @media screen and (max-width: 550px){
    .dp-blocks-wrapper-inner {
      top: 50px !important;
    }
    .dp-main-heading {
      font-size: 17px;
    }
     .diamond-dp-column-heading-image {
      top: 21%;
    }
    .dp-sub-heading {
      font-size: 15px;
    }
    .dp-image-set {
      padding-top: 20px;
      min-height: unset;
      top: 180px;
      margin-top:15px;
    }
    .dp-dot {
      top: 20%;
    }
    .dp-image-set.active .dp-dot, .dp-image-set.active .dp-icon {
    transform: translate(-50%, -50%) scale(1)  !important;
    opacity: 1;
}
  }

  /* Floating clone used for the animation */
  .dp-floating-diamond {
    position: fixed;
    top: 0;
    left: 0;
    width: 82px;              /* initial visual size */
    height: auto;
    z-index: 9999;
    pointer-events: none;
    display: block;
    will-change: left, top, width, height, opacity;
    opacity: 1;
  }

  /* Ensure original final image is above other content when visible */
  .dp-final-diamond .dp-final-diamond-img {
    display: block;
    width: 100%;
    height: auto;
  }

  .dp-blocks-wrapper-inner{
  top: 66px !important;
  }

  @media screen and (min-width: 1700px) {
    .dp-column.dp-dp-points-right {
    max-width: 400px;
    }
    .dp-description {
    max-width: 400px;
    }
    .dp-column {
    max-width: 400px;
    }
  
  }
  .dp-image-set.active .dp-icon {
      transform: translate(-60%, -60%) scale(1);
  }
  @media (min-width: 1025px) and (max-height: 700px) {
    .dp-blocks-wrapper-inner{
    position:unset;
    }
    .dp-image-set.active{
    top: 75px !important;
    }
}
</style>

<div class="diamond-process-section">
  <div class="dp-blocks-wrapper">
    <div class="dp-blocks-wrapper-inner dp-image-set active">
      <h2 class="dp-main-heading">{{ section.settings.heading | escape }}</h2>
      <div class="dp-sub-heading">{{ section.settings.subheading }}</div>
    </div>
    {% for block in section.blocks %}
      {% if block.type == 'image-set' %}
        <div
          class="dp-image-set{% if forloop.first %} first-dp-image-set{% endif %}{% if forloop.index == 6 %} last-dp-image-set{% endif %}"
          data-index="{{ forloop.index0 }}"
        >
          <div class="dp-column">
            <div class="dp-column-heading">{{ block.settings.left_heading }}</div>
            {% if block.settings.left_image != blank %}
              <img
                src="{{ block.settings.left_image | img_url: '600x600' }}"
                class="dp-column-heading-image dp-image"
                alt="Left image"
                title="Left image"
              >
            {% endif %}
            <div class="dp-description">
              <h2>{{ block.settings.left_subheading }}</h2>
              <div class="dp-points-list dp-points-left" data-dot-color="{{ block.settings.left_dot_color }}">
                {{ block.settings.left_points }}
              </div>
            </div>
          </div>

          <div class="dp-center-image-container">
            {% if block.settings.middle_image != blank %}
              <img
                src="{{ block.settings.middle_image | img_url: '600x600' }}"
                class="dp-center-image dp-column-heading-image-container{% if forloop.last %} hide-image-container{% endif %}"
                alt="Middle image"
                title="Middle image"
              >
            {% endif %}

            {% if block.settings.center_type == 'dot' %}
              <div
                class="dp-dot"
                style="width:35px;height:35px;border-radius:50%;background-color: {{ block.settings.dot_color }}"
              ></div>
            {% elsif block.settings.center_type == 'icon' and block.settings.center_icon != blank %}
              <img
                src="{{ block.settings.center_icon | img_url: '600x600' }}"
                class="dp-column-heading-image diamond-dp-column-heading-image dp-icon"
                alt="Center icon"
                title="Center icon"
              >
            {% endif %}
          </div>

          <div class="dp-column dp-dp-points-right">
            <div class="dp-column-heading">{{ block.settings.right_heading }}</div>
            {% if block.settings.right_image != blank %}
              <img
                src="{{ block.settings.right_image | img_url: '600x600' }}"
                class="dp-column-heading-image dp-image"
                alt="Right image"
                title="Right image"
              >
            {% endif %}
            <div class="dp-description">
              <h2>{{ block.settings.right_subheading }}</h2>
              <div class="dp-points-list dp-points-right" data-dot-color="{{ block.settings.right_dot_color }}">
                {{ block.settings.right_points }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="dp-blocks-wrapper-final">
    <div class="dp-blocks-wrapper-inner-final page-width">
      <h2 class="dp-main-heading-final">{{ section.settings.final_heading | escape }}</h2>
      <div class="dp-sub-heading-final">{{ section.settings.final_subheading }}</div>
    </div>
  </div>
  {% for block in section.blocks %}
    {% if block.type == 'final-diamond' %}
      <div class="dp-final-block">
        <div class="dp-final-column dp-final-left">
          <h3>{{ block.settings.left_heading }}</h3>
          <ul class="dp-final-points">
            {% if block.settings.left_point1 != blank %}
              <li>{{ block.settings.left_point1 }}</li>
            {% endif %}
            {% if block.settings.left_point2 != blank %}
              <li>{{ block.settings.left_point2 }}</li>
            {% endif %}
            {% if block.settings.left_point3 != blank %}
              <li>{{ block.settings.left_point3 }}</li>
            {% endif %}
            {% if block.settings.left_point4 != blank %}
              <li>{{ block.settings.left_point4 }}</li>
            {% endif %}
          </ul>
        </div>

        <div class="dp-final-diamond">
          {% if block.settings.final_diamond != blank %}
            <img
              class="dp-final-diamond-img"
              src="{{ block.settings.final_diamond | img_url: '1000x1000' }}"
              alt="Final Diamond"
              title="Final Diamond"
            >
          {% endif %}
        </div>

        <div class="dp-final-column dp-final-right">
          <h3>{{ block.settings.right_heading }}</h3>
          <ul class="dp-final-points">
            {% if block.settings.right_point1 != blank %}
              <li>{{ block.settings.right_point1 }}</li>
            {% endif %}
            {% if block.settings.right_point2 != blank %}
              <li>{{ block.settings.right_point2 }}</li>
            {% endif %}
            {% if block.settings.right_point3 != blank %}
              <li>{{ block.settings.right_point3 }}</li>
            {% endif %}
            {% if block.settings.right_point4 != blank %}
              <li>{{ block.settings.right_point4 }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>


<script>
// ===== EXACT VIDEO MATCHING ANIMATION =====

// 1. Image-set slide animations
const slides = document.querySelectorAll(".dp-image-set");

const slideObserver = new IntersectionObserver((entries) => {
  entries.forEach(entry => {
    if(entry.isIntersecting){
      entry.target.classList.add("active");
    } else {
      {% comment %} entry.target.classList.remove("active"); {% endcomment %}
    }
  });
}, { threshold: 0.35, rootMargin: "0px 0px -10% 0px" });

slides.forEach(slide => slideObserver.observe(slide));

// 2. DIAMOND TRAVEL ANIMATION - MATCHING VIDEO
const lastSlide = document.querySelector(".dp-image-set:last-child");
const finalBlock = document.querySelector(".dp-final-block");

if(lastSlide && finalBlock){
  const diamondIcon = lastSlide.querySelector(".dp-icon, .dp-dot");
  const finalDiamond = finalBlock.querySelector(".dp-final-diamond-img");
  
  if(diamondIcon && finalDiamond){
    let isAnimating = false;
    let startPos = null;
    
    const animate = () => {
      const lastSlideRect = lastSlide.getBoundingClientRect();
      const finalDiamondRect = finalDiamond.getBoundingClientRect();
      const vh = window.innerHeight;
      
      // Start when last slide is exiting viewport
      const shouldStart = lastSlideRect.bottom < vh * 0.5;
      // End when diamond is well centered
      const shouldEnd = finalDiamondRect.top < vh * 0.35;
      
      if(shouldStart && !shouldEnd){
        // 1. INITIALIZE: Get starting position and fix the icon
        if(!isAnimating){
          const iconRect = diamondIcon.getBoundingClientRect();
          startPos = {
            top: iconRect.top,
            left: iconRect.left,
            width: iconRect.width,
            height: iconRect.height
          };
          
{% comment %}           diamondIcon.style.position = "fixed";
          diamondIcon.style.top = startPos.top + "px";
          diamondIcon.style.left = startPos.left + "px";
          diamondIcon.style.width = startPos.width + "px";
          diamondIcon.style.height = startPos.height + "px";
          diamondIcon.style.transform = "none";
          diamondIcon.style.zIndex = "9999"; {% endcomment %}
        }
        
        isAnimating = true;
        
        // 2. CALCULATE PROGRESS: Determine how far along the animation is
        const animationStart = vh * 0.5;
        const animationEnd = vh * 0.35;
        const currentPos = finalDiamondRect.top;
        
        let progress = (animationStart - currentPos) / (animationStart - animationEnd);
        progress = Math.max(0, Math.min(1, progress));
        
        // Smooth easing curve for natural movement
        const eased = progress < 0.5 
          ? 4 * progress * progress * progress 
          : 1 - Math.pow(-2 * progress + 2, 3) / 2;
        
        // 3. INTERPOLATE: Calculate the current position and size
        // Target position (center of final diamond)
        const targetTop = finalDiamondRect.top + (finalDiamondRect.height / 2) - (startPos.height / 2);
        const targetLeft = finalDiamondRect.left + (finalDiamondRect.width / 2) - (startPos.width / 2);
        
        // Current interpolated position
        const currentTop = startPos.top + ((targetTop - startPos.top) * eased);
        const currentLeft = startPos.left + ((targetLeft - startPos.left) * eased);
        
        // Scale gradually from 1 to 3
        const scale = 1 + (2 * eased);
        
{% comment %}         // 4. APPLY STYLES
        diamondIcon.style.transition = "none";
        diamondIcon.style.top = currentTop + "px";
        diamondIcon.style.left = currentLeft + "px";
        diamondIcon.style.transform = `scale(${scale})`;
        diamondIcon.style.opacity = "1"; {% endcomment %}
        
      } else if(shouldEnd && isAnimating){
        // 5. END ANIMATION: Fade out at the target position
        const targetTop = finalDiamondRect.top + (finalDiamondRect.height / 2) - (startPos.height / 2);
        const targetLeft = finalDiamondRect.left + (finalDiamondRect.width / 2) - (startPos.width / 2);
        
{% comment %}         diamondIcon.style.transition = "opacity 1s ease-out";
        diamondIcon.style.top = targetTop + "px";
        diamondIcon.style.left = targetLeft + "px";
        diamondIcon.style.transform = "scale(3)";
        diamondIcon.style.opacity = "0"; {% endcomment %}
        
      } else if(!shouldStart && isAnimating){
        // 6. RESET: If scrolling back up
        isAnimating = false;
        startPos = null;
        
{% comment %}         diamondIcon.style.position = "";
        diamondIcon.style.top = "";
        diamondIcon.style.left = "";
        diamondIcon.style.width = "";
        diamondIcon.style.height = ""; {% endcomment %}
{% comment %}         diamondIcon.style.transition = "transform 0.6s ease-out, opacity 0.6s ease-out"; {% endcomment %}
{% comment %}         diamondIcon.style.transform = "";
        diamondIcon.style.opacity = "";
        diamondIcon.style.zIndex = ""; {% endcomment %}
      }
    };
    
    // Smooth scroll handling with RAF (existing code)
    let rafId = null;
    window.addEventListener("scroll", () => {
      if(rafId) cancelAnimationFrame(rafId);
      rafId = requestAnimationFrame(animate);
    }, { passive: true });
    
    // Initial check (existing code)
    animate();
  }
}

const diamond = document.querySelector('.dp-final-diamond-img');
const wrapper = document.querySelector('.dp-final-block');

{% comment %} window.addEventListener('scroll', () => {
  const rect = wrapper.getBoundingClientRect();

  // Check if wrapper is in viewport center
  if (rect.top <= window.innerHeight / 2 && rect.bottom >= window.innerHeight / 2) {
    diamond?.parentElement?.classList.add('fixed');

    // Calculate scroll progress inside this block
    let scrollProgress = (window.innerHeight / 2 - rect.top) / rect.height;
    let scale = 1 + scrollProgress * 4; // start 1, max 5
    if (scale > 5) scale = 5;

   if (diamond) {
    diamond.style.transform = `translate(-50%, -50%) scale(${scale})`;
    diamond.parentElement?.classList.remove('fixed');

    // Optional: reset after animation (e.g., 300ms)
    setTimeout(() => {
      diamond.style.transform = `translate(-50%, -50%) scale(1)`;
    }, 300);
  }

  }
}); {% endcomment %}
</script>

<script>
  (function () {
    // Run only for desktop


    const clamp = (v, a, b) => Math.max(a, Math.min(b, v));
    const lerp = (a, b, t) => a + (b - a) * t;

    document.addEventListener("DOMContentLoaded", () => {
      const startElems = Array.from(
        document.querySelectorAll(".diamond-dp-column-heading-image")
      );
      const finalContainer = document.querySelector(".dp-final-diamond");
      const originalFinalImg = document.querySelector(".dp-final-diamond-img");

      if (!startElems.length || !finalContainer || !originalFinalImg) return;

      let startElem = null;
      let floating = null;
      let pos = {};
      let rafId = null;
      let natW = 0,
        natH = 0;

      let smoothX = 0,
        smoothY = 0,
        smoothW = 0,
        smoothH = 0;

      function createFloating() {
        if (floating) floating.remove();

        floating = originalFinalImg.cloneNode(true);
        floating.classList.add("dp-floating-diamond");
        floating.style.position = "fixed";
        floating.style.pointerEvents = "none";
        floating.style.zIndex = "2";
        floating.style.opacity = "0";
        document.body.appendChild(floating);

        originalFinalImg.style.visibility = "hidden";

        natW = floating.naturalWidth || 1;
        natH = floating.naturalHeight || 1;
      }

      function findVisibleStart() {
        for (const el of startElems) {
          const opacity = +window.getComputedStyle(el).opacity;
          const rect = el.getBoundingClientRect();
          if (opacity >= 1 && rect.top < window.innerHeight && rect.bottom > 0) {
            return el;
          }
        }
        return null;
      }

      function recalc() {
        if (!startElem) return;
        const s = startElem.getBoundingClientRect();
        const e = finalContainer.getBoundingClientRect();
        const scrollX = window.pageXOffset || document.documentElement.scrollLeft;
        const scrollY = window.pageYOffset || document.documentElement.scrollTop;

        pos = {
          startDocCenterX: s.left + s.width / 2 + scrollX,
          startDocCenterY: s.top + s.height / 2 + scrollY,
          startW: s.width,
          endDocCenterX: e.left + e.width / 2 + scrollX,
          endDocCenterY: e.top + e.height / 2 + scrollY,
          endW: e.width,
          ratio: natH / natW || s.height / s.width || 1,
        };

        smoothX = pos.startDocCenterX;
        smoothY = pos.startDocCenterY;
        smoothW = pos.startW;
        smoothH = smoothW * pos.ratio;
      }

      function render() {
        rafId = null;
        if (!floating || !startElem) return;

        const scrollY = window.pageYOffset || document.documentElement.scrollTop;
        const scrollX = window.pageXOffset || document.documentElement.scrollLeft;

        const startTrigger = pos.startDocCenterY - window.innerHeight * 0.6;
        const endTrigger = pos.endDocCenterY - window.innerHeight * 0.4;
        const denom = endTrigger - startTrigger || 1;

        let progress = (scrollY - startTrigger) / denom;
        progress = clamp(progress, 0, 1);

        const ease = progress * progress * (3 - 2 * progress);

        const targetW = lerp(pos.startW, pos.endW, ease);
        const targetH = targetW * pos.ratio;
        const targetX = lerp(pos.startDocCenterX, pos.endDocCenterX, ease);
        const targetY = lerp(pos.startDocCenterY, pos.endDocCenterY, ease);

        smoothW = lerp(smoothW, targetW, 0.2);
        smoothH = lerp(smoothH, targetH, 0.2);
        smoothX = lerp(smoothX, targetX, 0.2);
        smoothY = lerp(smoothY, targetY, 0.2);

        const viewportLeft = smoothX - scrollX - smoothW / 2;
        const viewportTop = smoothY - scrollY - smoothH / 2;

        floating.style.width = smoothW + "px";
        floating.style.height = smoothH + "px";
        floating.style.left = viewportLeft + "px";
        floating.style.top = viewportTop + "px";
        floating.style.opacity = progress > 0 && progress < 1 ? "1" : "0";

          {% comment %} console.log('795', progress, floating); {% endcomment %}
          if (progress == 0) {
            document.querySelector('.diamond-dp-column-heading-image').style.visibility = 'unset'
          }else{
            document.querySelector('.diamond-dp-column-heading-image').style.visibility = 'hidden'
          }

        if (progress >= 1 && floating) {
          originalFinalImg.style.visibility = "visible";
          floating.remove();
          floating = null;
        } else {
          originalFinalImg.style.visibility = "hidden";
        }
      }

      function onScrollThrottled() {
        if (!rafId) rafId = requestAnimationFrame(render);
      }

      function onResize() {
        recalc();
        render();
      }

      function initAnimation(forceStartElem = null) {
        const newStart = forceStartElem || findVisibleStart();
        if (!newStart) return;

        if (startElem !== newStart || !floating) {
          startElem = newStart;
          createFloating();
          recalc();
          render();

          window.addEventListener("scroll", onScrollThrottled, { passive: true });
          window.addEventListener("resize", onResize);
        }
      }

      // ✅ Updated observer — triggers smoothly in both scroll directions
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            const opacity = +window.getComputedStyle(entry.target).opacity;
            const isFinalImg = entry.target.classList.contains("dp-final-diamond-img");
            const isStartImg = entry.target.classList.contains("diamond-dp-column-heading-image");

            // When start image is visible or final image re-enters viewport
            if ((isStartImg && opacity >= 1 && entry.isIntersecting) || (isFinalImg && entry.isIntersecting)) {
              // For final image, use the last visible start image for reference
              if (isFinalImg) {
                const lastStart = findVisibleStart() || startElems[startElems.length - 1];
                initAnimation(lastStart);
              } else {
                initAnimation(entry.target);
              }
            }
          });
        },
        { threshold: [0, 0.25, 0.5, 0.75, 1] }
      );

      // Observe both start and final images
      startElems.forEach((el) => observer.observe(el));
      observer.observe(originalFinalImg);

      initAnimation();
    });
  })();
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Select all containers
    const items = document.querySelectorAll('.dp-center-image-container');
    if (!items.length) return;

    // Get the last one
    const lastItem = items[items.length - 1];

    // Inject override CSS (only once)
    const styleId = 'dp-last-before-override';
    if (!document.getElementById(styleId)) {
      const style = document.createElement('style');
      style.id = styleId;
      style.textContent = `
        .dp-center-image-container.last-item::before {
          background-color: #fff !important;
          width: 6px;
        }
      `;
      document.head.appendChild(style);
    }

    // Add class to the last element
    lastItem.classList.add('last-item');
  });
</script>

{% schema %}
{
  "name": "Diamond Process Section",
  "settings": [
    { "type": "text", "id": "heading", "label": "Heading", "default": "SAME DIAMOND DIFFERENT PROCESS" },
    { "type": "text", "id": "subheading", "label": "Subheading", "default": "Lorem ipsum dolor sit amet..." },
    { "type": "text", "id": "final_heading", "label": "Final Block Heading" },
    { "type": "text", "id": "final_subheading", "label": "Final Block Subheading" }
  ],
  "blocks": [
    {
      "type": "image-set",
      "name": "Image Set",
      "settings": [
        { "type": "text", "id": "left_heading", "label": "Left Label", "default": "LAB GROWN DIAMONDS" },
        { "type": "text", "id": "right_heading", "label": "Right Label", "default": "MINED DIAMONDS" },
        { "type": "image_picker", "id": "left_image", "label": "Left Image" },
        { "type": "image_picker", "id": "middle_image", "label": "Center Image" },
        { "type": "image_picker", "id": "right_image", "label": "Right Image" },

        { "type": "header", "content": "Left Side Content" },
        { "type": "text", "id": "left_subheading", "label": "Left Subheading (h2)", "default": "The First Step" },
        {
          "type": "richtext",
          "id": "left_points",
          "label": "Left Bullet Points (ul/li)",
          "default": "<ul><li><p>Enter your first constrained line of text here.</p></li><li><p>The second point with a few words.</p></li><li><p>Final short line of information.</p></li></ul>"
        },
        { "type": "color", "id": "left_dot_color", "label": "Left Dot Color", "default": "#4CAF50" },

        { "type": "header", "content": "Right Side Content" },
        { "type": "text", "id": "right_subheading", "label": "Right Subheading (h2)", "default": "The Mined Process" },
        {
          "type": "richtext",
          "id": "right_points",
          "label": "Right Bullet Points (ul/li)",
          "default": "<ul><li><p>The first point for the right side.</p></li><li><p>Another short description text line.</p></li><li><p>Last point for this step.</p></li></ul>"
        },
        { "type": "color", "id": "right_dot_color", "label": "Right Dot Color", "default": "#F44336" },

        { "type": "header", "content": "Center Dot/Icon" },
        {
          "type": "select",
          "id": "center_type",
          "label": "Center Type",
          "options": [
            { "value": "dot", "label": "Dot" },
            { "value": "icon", "label": "Icon" }
          ],
          "default": "dot"
        },
        { "type": "color", "id": "dot_color", "label": "Dot Color", "default": "#FFA500" },
        { "type": "image_picker", "id": "center_icon", "label": "Center Icon (if type is icon)" }
      ]
    },
    {
      "type": "final-diamond",
      "name": "Final Diamond Block",
      "settings": [
        { "type": "image_picker", "id": "final_diamond", "label": "Final Diamond Image" },
        { "type": "text", "id": "left_heading", "label": "Left Heading", "default": "LAB GROWN DIAMONDS" },
        { "type": "text", "id": "right_heading", "label": "Right Heading", "default": "MINED DIAMONDS" },

        { "type": "header", "content": "Left Points" },
        { "type": "richtext", "id": "left_point1", "label": "Left Point 1"},
        { "type": "richtext", "id": "left_point2", "label": "Left Point 2" },
        { "type": "richtext", "id": "left_point3", "label": "Left Point 3"},
        { "type": "richtext", "id": "left_point4", "label": "Left Point 4"},

        { "type": "header", "content": "Right Points" },
        { "type": "richtext", "id": "right_point1", "label": "Right Point 1"},
        { "type": "richtext", "id": "right_point2", "label": "Right Point 2"},
        { "type": "richtext", "id": "right_point3", "label": "Right Point 3"},
        { "type": "richtext", "id": "right_point4", "label": "Right Point 4"}
      ]
    }
  ],
  "presets": [{ "name": "Diamond Process Section" }]
}
{% endschema %}
