{% unless customer or template.suffix == 'login' %}
  <div id="login-popup" class="login-pop-overlay" onclick="closeloginPopup('login-popup')">
    <div class="otp-login-form-wrapper">
      <button class="close-button" onclick="closeloginPopup('login-popup')">
        {{ 'icon-login-close.svg' | inline_asset_content }}
      </button>
      <button class="close-button-only-account" onclick="closeAndGoBack()">
        {{ 'icon-login-close.svg' | inline_asset_content }}
      </button>
      <div class="spin-wheel-wrapper">
        <div class="wheel-container">
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Below_Banner_Trust_Icon_Strip_1_1.png?v=1770784760"
            alt="Spin the Wheel"
            class="spin-wheel-image"
            id="spin-wheel-image"
            width="800"
            height="800"
            loading="lazy"
          >
          <img
            src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/Spin_The_Wheel_Spinner_1.png?v=1769229971"
            alt="Spin CTA"
            class="spin-wheel-cta"
            id="spin-wheel-cta"
            width="200"
            height="200"
            loading="lazy"
          >
        </div>
      </div>
      <form id="otp-login-form" class="otp-form-wrapper">
        <input type="hidden" id="spinResult" name="won_prize" value="">

        <div class="otp-number-wrapper">
          <p class="heading">{{ section.settings.heading }}</p>
          <p>{{ section.settings.subtext }}</p>
          <label>{{ section.settings.phone_label }}</label>
          <div class="mobile-wrap">
            <span class="country-code">+91</span>
            <input
              type="tel"
              id="loginMobile"
              placeholder="{{ section.settings.phone_placeholder }}"
              maxlength="10"
              required
            >
          </div>
          <span class="error-message" id="mobileError"></span>
        </div>
        <button type="button" id="sendOtp" class="btn-primary">
          {{ section.settings.request_otp_text }}
        </button>
        {% comment %}
          <p class="register-link">
            New here? <a href="javascript:void(0)" id="registerNow">Register</a>
          </p>
        {% endcomment %}

        <div id="otpSection" style="display:none">
          <p class="heading">{{ section.settings.heading }}</p>
          <p>{{ section.settings.subtext }}</p>
          <label>{{ section.settings.otp_label }}</label>
          <div class="mobile-wrap" style="margin-bottom:10px;">
            <span class="country-code">+91</span>
            <input
              type="tel"
              id="otpMobile"
              placeholder="{{ section.settings.phone_placeholder }}"
              maxlength="10"
              readonly
            >
            <button type="button" id="editMobile">{{ 'phone-edit-icon.svg' | inline_asset_content }}</button>
          </div>
          <div class="otp-inputs">
            <input type="tel" inputmode="numeric" autocomplete="one-time-code" maxlength="1">
            <input type="tel" inputmode="numeric" maxlength="1">
            <input type="tel" inputmode="numeric" maxlength="1">
            <input type="tel" inputmode="numeric" maxlength="1">
          </div>
          <span class="error-message" id="otpError"></span>
          <button type="button" id="verifyOtp" class="btn-primary">
            {{ section.settings.verify_otp_text }}
          </button>
          <p id="otp-timer">{{ section.settings.resend_text }}</p>
        </div>

        <div class="signupSection" style="display:none">
          <p class="heading">Register to Win Rewards</p>
          <p>Try Your Luck! Win a Diamond Pendant</p>
          <div class="registration-form-inputs">
            <div class="registration-form-row-wrapper">
              <div class="grid-column">
                <label>First Name <span class="red-required">*</span></label>
                <input type="text" id="regFirstName" placeholder="First Name" class="field-input" required>
                <span
                  class="error-message"
                  id="firstNameError"
                  style="display:none; color:red; font-size:12px; margin-top: 0; line-height: 1; margin-bottom: 16px;"
                ></span>
              </div>
              <div class="grid-column">
                <label>Last Name <span class="red-required">*</span></label>
                <input type="text" id="regLastName" placeholder="Last Name" class="field-input" required>
                <span
                  class="error-message"
                  id="lastNameError"
                  style="display:none; color:red; font-size:12px; margin-top: 0; line-height: 1; margin-bottom: 16px;"
                ></span>
              </div>
            </div>
            <label>Email Address <span class="red-required">*</span></label>
            <input type="email" id="regEmail" placeholder="Email" class="field-input" required>
            <span
              class="error-message"
              id="emailError"
              style="display:none; color:red; font-size:12px; margin-top: 0; line-height: 1; margin-bottom: 16px;"
            ></span>

            <label>Phone Number <span class="red-required">*</span></label>
            <div class="mobile-wrap">
              <span class="country-code">+91</span>
              <input type="tel" id="signupMobile" placeholder="Enter Phone Number" readonly>
            </div>

            <div class="consent-wrapper">
              <label class="consent-label">
                <input type="checkbox" id="privacyConsent" required checked>
                <span>
                  I accept that I have read & understood
                  <a href="/pages/privacy-policy" target="_blank">Privacy Policy</a> and
                  <a href="/pages/terms-condition" target="_blank">T&amp;Cs.</a>
                </span>
              </label>
              <span class="error-message" id="consentError"> Please accept the Privacy Policy and T&Cs. </span>
            </div>

            <button type="button" id="completeRegistration" class="btn-primary">SPIN & CREATE ACCOUNT</button>
          </div>
        </div>

        <div id="successSection" style="display:none; text-align:center; padding:20px;">
          <div style="text-align: center;">{{ 'icon-success-account.svg' | inline_asset_content }}</div>
          <p class="heading" style="margin-bottom:8px;">Your Account has been created Successfully</p>
          <p style="max-width: 280px; width: 100%; display: block; margin-top: 14px;">
            Your reward is ready, Apply this on checkout
          </p>

          <div class="coupon-box">
            <span id="couponCode" data-coupon=""></span>
            <button type="button" id="copyCoupon" title="Copy">
              {{ 'icon-copy.svg' | inline_asset_content }}
            </button>
          </div>

          <p id="copyFeedback" style="display:none; font-size:12px; color:green; margin-top:8px;">Copied to clipboard!</p>
        </div>
      </form>
    </div>
  </div>
  <form id="shopify-auto-login-form" action="/account/login" method="post" style="display:none;">
    <input type="hidden" name="form_type" value="customer_login">
    <input type="hidden" name="utf8" value="✓">
    <input type="hidden" name="return_to" id="loginReturnTo" value="">
    <input type="email" name="customer[email]" id="ShopifyEmail">
    <input type="password" name="customer[password]" id="ShopifyPassword">
  </form>
{% endunless %}
{% schema %}
{
  "name": "Login Popup Header",
  "tag": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Popup Logo"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "WELCOME TO LUCIRA"
    },
    {
      "type": "text",
      "id": "subtext",
      "label": "Sub Text",
      "default": "Welcome To The Jewelry World Of Lucira!"
    },
    {
      "type": "text",
      "id": "phone_label",
      "label": "Phone Label",
      "default": "Phone Number"
    },
    {
      "type": "text",
      "id": "phone_placeholder",
      "label": "Phone Placeholder",
      "default": "Enter Phone Number"
    },
    {
      "type": "text",
      "id": "request_otp_text",
      "label": "Request OTP Button",
      "default": "REQUEST OTP"
    },
    {
      "type": "text",
      "id": "otp_label",
      "label": "OTP Label",
      "default": "Enter OTP"
    },
    {
      "type": "text",
      "id": "verify_otp_text",
      "label": "Verify OTP Button",
      "default": "VERIFY OTP"
    },
    {
      "type": "text",
      "id": "resend_text",
      "label": "Resend Timer Text",
      "default": "Resend OTP in 00:30"
    },
    {
      "type": "text",
      "id": "create_account_text",
      "label": "Create Account Button",
      "default": "CREATE ACCOUNT"
    },
    {
      "type": "text",
      "id": "already_text",
      "label": "Already Member Text",
      "default": "Already a member?"
    },
    {
      "type": "text",
      "id": "login_text",
      "label": "Login Text",
      "default": "LOGIN"
    }
  ],

  "presets": [
    {
      "name": "Login Popup (Header)"
    }
  ]
}
{% endschema %}
