{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;'
      
      '
    }
  }
{%- endstyle -%}

<div class="page-width page-width--narrow section-{{ section.id }}-padding {{ page.handle }} custom_pagess">
  <p style="display:none;" class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </p>
  <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
<style>

{% if collection.handle=="sports-collection" or page.handle=="terms-condition" or page.handle=="modern-slavery-policy" or page.handle=="exclusive-promotions-page" or page.handle=="supplier-code-of-conduct" or page.handle=="shipping-policy" or page.handle=="privacy-policy" %}
.banner__media .mobile-banner-img,.banner__media img{opacity:.4; height: 100% !important;}
.page h2.banner__heading.inline-richtext.h1{color:#fff!important;margin-top:40px}
.media model-viewer,.media>:not(.zoom):not(.deferred-media__poster-button){background:#000}
.rte h2{color:#1a1a1a;font-size:26px;font-weight:500;letter-spacing:.5px;margin-bottom:0;margin-top:40px}
.rte h3{font-size:20px;font-weight:500;color:#1a1a1a;letter-spacing:.5px;margin-bottom:0;margin-top:26px}
.rte p{font-size:16px;font-weight:400;color:#1a1a1a;letter-spacing:.5px}

@media(min-width:769px){
.header__icons svg{display:none}
.header-wrapper:hover .header__icons svg{display:block}
.header__icons svg.account_circle_white,.header__icons svg.announcement-white-icon,.header__icons svg.local_mall_white,.header__icons svg.search-icon-white{display:block}
.header-wrapper:hover .header__icons svg.account_circle_white,.header-wrapper:hover .header__icons svg.announcement-white-icon,.header-wrapper:hover .header__icons svg.local_mall_white,.header-wrapper:hover .header__icons svg.search-icon-white{display:none}
.page-width.custom_pagess{}
.page-width.custom_pagess{width:75%!important}
.custom_pagess {padding-bottom: 60px; padding-top: 60px;}
}
@media(max-width:768px){
.banner--adapt{height:360px!important}
.page h2.banner__heading.inline-richtext.h1{color:#fff!important;margin-top:28px}
.page h2.banner__heading.inline-richtext.h1{font-size:24px!important}
.rte h2{font-size:18px; margin-top: 28px;}
.rte h3{font-size:16px}
.rte p,li{line-height:20px;font-size:13px;color:#1a1a1a}
.page .banner__box.content-container.content-container--full-width-mobile.color-scheme-1.gradient{margin-bottom:0}
.page h2.banner__heading.inline-richtext.h1{font-size:25px}
.custom_pagess {padding-bottom: 40px; padding-top: 40px;}
}
{% endif %}

</style>

