{% comment %} {{ 'plp-product-card.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'product-card.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'template-collection.css' | asset_url | stylesheet_tag: preload: true }}
<link rel="preload" href="{{ 'component-card.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}"></noscript>
{{ 'product-detail.css' | asset_url | stylesheet_tag: preload: true }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag: preload: true }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag: preload: true }}
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  @media screen and (max-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: 0px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {% comment %} {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
      <facet-filters-form class="facets facets-vertical-sort page-width small-hide">
        <form class="facets-vertical-form" id="FacetSortForm">
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field">
              <p class="facet-filters__label caption-large text-body">
                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
              </p>
              <div class="select">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <select
                  name="sort_by"
                  class="facet-filters__sort select__select caption-large"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                >
                  {%- for option in collection.sort_options -%}
                    <option
                      value="{{ option.value | escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
                <span class="svg-wrapper">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </div>
            </div>
          </div>

          <div class="product-count-vertical light" role="status">
            <div class="product-count__text text-body">
              <span id="ProductCountDesktop">
                {%- if collection.results_count -%}
                  {{
                    'templates.search.results_with_count'
                    | t: terms: collection.terms, count: collection.results_count
                  }}
                {%- elsif collection.products_count == collection.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: collection.products_count, count: collection.all_products_count
                  }}
                {%- endif -%}
              </span>
            </div>
            {%- render 'loading-spinner' -%}
          </div>
        </form>
      </facet-filters-form>
    {%- endif -%} {% endcomment %}

    <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      {{ 'component-facets.css' | asset_url | stylesheet_tag: preload: true }}
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          {% render 'facets',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            paginate: paginate
          %}
        </aside>
      {%- endif -%}

      <div
        class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div
            class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          >
            <div class="loading-overlay gradient"></div>
            <ul
              id="product-grid"
              data-product-grid
              data-id="{{ section.id }}"
              class="
                grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                grid--{{ section.settings.columns_desktop }}-col-desktop
                {% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %}
              "
            >
              {% assign skip_card_product_styles = false %}
              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                
                {% assign first_banner_position = 6 %}
                {% assign subsequent_banner_position = 18 %}

                {% if paginate.current_page == 1 %}
                  {% assign banner_position = first_banner_position %}
                {% else %}
                  {% assign banner_position = subsequent_banner_position %}
                {% endif %}
                {% unless product.tags contains 'hidden' %}
                {% if forloop.index0 == banner_position %}
                  <li
                    class="lucira-collec-banner grid__item{% if settings.animations_reveal_on_scroll %}--span-2 scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                      <div class="lucira-plp-pg-component">
                          <div id="lucira-plp-img-1" class="lucira-plp-pg-component-image-wrapper active">
                          {% if section.settings.plp_banner_id != blank %}
                          {% comment %} <img class="lucira-plp-pg-component-image" 
                              src="{{ section.settings.plp_banner_id | img_url: 'master' }}" 
                              alt="PLP Banner" 
                              title="PLP Banner" 
                              href="https://www.lucirajewelry.com/collections/hexa"
                              width="374" height="420"> {% endcomment %}
                              <picture class="lucira-plp-pg-component-image-wrapper-picture">
                                  {% if section.settings.plp_banner_mobile_id != blank %}
                                    <source media="(max-width: 749px)" srcset="{{ section.settings.plp_banner_mobile_id | img_url: 'master' }}">
                                  {% endif %}
                                  <img class="lucira-plp-pg-component-image" 
                                      src="{{ section.settings.plp_banner_id | img_url: 'master' }}" 
                                      alt="PLP Banner" 
                                      title="PLP Banner" 
                                      href="https://www.lucirajewelry.com/collections/hexa"
                                      width="374" height="420">
                                </picture>
                          {% endif %}
                      </div>
                  </div>
                  </li>
                {% endif %}
                {% endunless %}
                {% unless product.tags contains 'hidden' %}
                <li
                  class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load,
                    skip_styles: skip_card_product_styles,
                    quick_add: section.settings.quick_add,
                    section_id: section.id
                  %}
                </li>
                {% endunless %}
                {%- assign skip_card_product_styles = true -%}
              {%- endfor -%}
            </ul>

           <infinite-scroll style="display: flex; justify-content: center;">
            {%- if paginate.next -%}
              <a 
                style="color: currentColor; text-decoration: none; pointer-events: none;" 
                href="{{ paginate.next.url }}&section_id={{ section.id }}">
              </a>
            {%- endif -%}
          </infinite-scroll>

            {% comment %} {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%} {% endcomment %}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {{ 'mask-arch.svg' | inline_asset_content }}
  {%- endif -%}
</div>

{% render 'product-collection-card' %}

<script>
  window.dataLayer = window.dataLayer || [];
  (function() {
    var products = [
      {% for product in collection.products limit: section.settings.products_per_page %}
        {
          item_id: '{{ product.id }}',
          item_name: '{{ product.title | escape }}',
          item_sku: '{{ product.variants.first.sku | escape }}',
          category: '{{ collection.title | escape }}',
          item_url: '{{ shop.url }}{{ product.url }}',
          price: {{ product.compare_at_price_max | default: product.price | money_without_currency | remove: ',' }},
          offer_price: {{ product.price | money_without_currency | remove: ',' }},
          index: {{ forloop.index }}
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ];

    // Filter out any products with missing essential details (optional safety)
    products = products.filter(function(p) {
      return p.item_id && p.item_name && p.price != null;
    });

    // Push to dataLayer asynchronously to avoid blocking rendering
    setTimeout(function() {
      window.dataLayer.push({
        event: 'productImpression',
        products: products
      });
    }, 0);
  })();
</script>

<script>
(function () {
  if (window.__gtmProductClickBound) return;
  window.__gtmProductClickBound = true;

  document.addEventListener("click", function (event) {
    const link = event.target.closest(".product-image-link.custom-image-link");
    if (!link) return;

    event.preventDefault();

    const productData = {
      event: "productClick",
      products: {
        productId: link.dataset.productId,
        variantId: link.dataset.variantId,
        sku: link.dataset.sku,
        productName: link.dataset.productName,
        productType: link.dataset.productType,
        productCategory: link.dataset.productCategory,
        category: link.dataset.category,
        subCategory: link.dataset.subCategory,
        productUrl: link.dataset.productUrl || link.href,
        thumbnailImage: link.dataset.thumbnailImage,
        purity: link.dataset.purity,
        price: link.dataset.price,
        offerPrice: link.dataset.offerPrice,
        expectedDeliveryDate: link.dataset.expectedDeliveryDate,
        couponCode: link.dataset.couponCode,
        makingCharges: link.dataset.makingCharges,
        numberOfReview: link.dataset.numberOfReview,
        rating: link.dataset.rating,
        indexPosition: link.dataset.indexPosition
      }
    };

    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push(productData);

    // navigate after GTM registers
    setTimeout(() => {
      window.location.href = link.href;
    }, 250);
  });
})();
</script>


<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CollectionPage",
  "name": "{{ collection.title | escape }}",
  "description": "{{ collection.description | strip_html | escape }}",
  "url": "{{ shop.url }}{{ collection.url }}",
  "image": [
    {% if collection.image %}
      "{{ collection.image | img_url: 'master' }}"
    {% endif %}
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ItemList",
  "itemListElement": [
    {% for product in collection.products %}
    {
      "@type": "ListItem",
      "position": {{ forloop.index }},
      "name": "{{ product.title | escape }}",
      "description": "{{ product.description | strip_html | strip_newlines | escape }}",
      "url": "{{ shop.url }}{{ product.url }}"
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>


{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    { 
     "type": "image_picker",
      "id": "plp_banner_id",
      "label": "PLP Banner Image"
    },
     {
      "type": "image_picker",
      "id": "plp_banner_mobile_id",
      "label": "PLP Banner Image (Mobile)",
      "info": "Upload a separate image to show on mobile (<= 749px). If blank, desktop banner will be used."
    },
    {
      "type": "number",
      "id": "banner_grid_position",
      "label": "Banner Grid Position",
      "default": 6
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },    
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %} {% endcomment %}

{{ 'template-collection.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-card.css' | asset_url | stylesheet_tag: preload: true }}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag: preload: true }}
{%- endunless -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  
  /* Critical banner image styling */
  .lucira-plp-pg-component-image {
    width: 100%;
    height: auto;
    display: block;
    background-color: #f5f5f5;
  }
  
  /* Critical product grid styles */
  .product-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat({{ section.settings.columns_mobile }}, 1fr);
  }
  
  @media screen and (min-width: 750px) {
    .product-grid {
      grid-template-columns: repeat({{ section.settings.columns_desktop }}, 1fr);
    }
  }
{%- endstyle -%}

<link rel="preload" href="{{ 'plp-product-card.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'product-card.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'product-detail.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="{{ 'component-facets.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>
  <link rel="stylesheet" href="{{ 'plp-product-card.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'product-card.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'product-detail.css' | asset_url }}">
  <link rel="stylesheet" href="{{ 'component-facets.css' | asset_url }}">
</noscript>

{% if section.settings.image_shape == 'blob' %}
  <link rel="preload" href="{{ 'mask-blobs.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ 'mask-blobs.css' | asset_url }}"></noscript>
{%- endif -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  {%- paginate collection.products by section.settings.products_per_page -%}
    <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        {% comment %} Defer facets loading {% endcomment %}
        <div id="facets-placeholder" style="min-height: 60px;"></div>
      {%- endif -%}

      <div class="product-grid-container" id="ProductGridContainer">
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}">
            <div class="loading-overlay gradient"></div>
            <ul
              id="product-grid"
              data-product-grid
              data-id="{{ section.id }}"
              class="
                grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                grid--{{ section.settings.columns_desktop }}-col-desktop
                {% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %}
              "
            >
              {% assign skip_card_product_styles = false %}
              {%- for product in collection.products -%}
                {% assign lazy_load = true %}
                {%- if forloop.index <= 3 -%}
                  {%- assign lazy_load = false -%}
                {%- endif -%}
                
                {% assign first_banner_position = 6 %}
                {% assign subsequent_banner_position = 18 %}

                {% if paginate.current_page == 1 %}
                  {% assign banner_position = first_banner_position %}
                {% else %}
                  {% assign banner_position = subsequent_banner_position %}
                {% endif %}
                
                {% unless product.tags contains 'hidden' %}
                  {% if forloop.index0 == banner_position %}
                    <li
                      class="lucira-collec-banner grid__item"
                      {% if settings.animations_reveal_on_scroll %}
                          data-cascade
                          style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                    >
                      <div class="lucira-plp-pg-component">
                        <div id="lucira-plp-img-1" class="lucira-plp-pg-component-image-wrapper active">
                          {% if section.settings.plp_banner_id != blank %}
                            {% comment %} Preload banner image for LCP {% endcomment %}
                            {% if forloop.index0 == banner_position %}
                              <link rel="preload" as="image" href="{{ section.settings.plp_banner_id | img_url: 'master' }}" imagesrcset="{% if section.settings.plp_banner_mobile_id != blank %}{{ section.settings.plp_banner_mobile_id | img_url: 'master' }} 750w,{% endif %} {{ section.settings.plp_banner_id | img_url: 'master' }} 1200w">
                            {% endif %}
                            
                            <picture class="lucira-plp-pg-component-image-wrapper-picture">
                              {% if section.settings.plp_banner_mobile_id != blank %}
                                <source media="(max-width: 749px)" srcset="{{ section.settings.plp_banner_mobile_id | img_url: 'master' }}">
                              {% endif %}
                              <img 
                                class="lucira-plp-pg-component-image" 
                                src="{{ section.settings.plp_banner_id | img_url: 'master' }}" 
                                srcset="{% if section.settings.plp_banner_mobile_id != blank %}{{ section.settings.plp_banner_mobile_id | img_url: 'master' }} 750w,{% endif %} {{ section.settings.plp_banner_id | img_url: 'master' }} 1200w"
                                sizes="(max-width: 749px) 100vw, 50vw"
                                alt="PLP Banner" 
                                width="374" 
                                height="420"
                                loading="{% if forloop.index0 == banner_position %}eager{% else %}lazy{% endif %}"
                                onload="this.classList.add('loaded')"
                              >
                            </picture>
                          {% endif %}
                        </div>
                      </div>
                    </li>
                  {% endif %}
                {% endunless %}
                
                {% unless product.tags contains 'hidden' %}
                  <li
                    class="grid__item"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {% render 'card-product',
                      card_product: product,
                      media_aspect_ratio: section.settings.image_ratio,
                      image_shape: section.settings.image_shape,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      lazy_load: lazy_load,
                      skip_styles: skip_card_product_styles,
                      quick_add: section.settings.quick_add,
                      section_id: section.id
                    %}
                  </li>
                {% endunless %}
                
                {%- assign skip_card_product_styles = true -%}
                
                {% comment %} Early fetch for next products to improve perceived performance {% endcomment %}
                {% if forloop.last and paginate.next %}
                  <link rel="prefetch" href="{{ paginate.next.url }}&section_id={{ section.id }}">
                {% endif %}
              {%- endfor -%}
            </ul>

            {% comment %} Infinite scroll with Intersection Observer {% endcomment %}
            <infinite-scroll 
              style="display: flex; justify-content: center;"
              data-next-url="{% if paginate.next %}{{ paginate.next.url }}&section_id={{ section.id }}{% endif %}"
            >
              {%- if paginate.next -%}
                <div class="loading-spinner" style="display: none; padding: 20px;">
                  <svg width="40" height="40" viewBox="0 0 50 50">
                    <circle cx="25" cy="25" r="20" fill="none" stroke="#000" stroke-width="4" stroke-dasharray="31.415, 31.415" stroke-linecap="round">
                      <animateTransform attributeName="transform" type="rotate" from="0 25 25" to="360 25 25" dur="1s" repeatCount="indefinite"/>
                    </circle>
                  </svg>
                </div>
              {%- endif -%}
            </infinite-scroll>
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
</div>

{% comment %} Lazy load scripts and non-critical content {% endcomment %}
<script>
  // Load non-critical CSS after page load
  function loadNonCriticalCSS() {
    const stylesheets = [
      '{{ "plp-product-card.css" | asset_url }}',
      '{{ "product-card.css" | asset_url }}',
      '{{ "product-detail.css" | asset_url }}',
      '{{ "component-facets.css" | asset_url }}'
    ];
    
    stylesheets.forEach(href => {
      if (!document.querySelector(`link[href="${href}"]`)) {
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = href;
        document.head.appendChild(link);
      }
    });
  }

  // Load facets after initial render
  function loadFacets() {
    if (!document.querySelector('#facets-placeholder')) return;
    
    const script = document.createElement('script');
    script.src = '{{ "facets.js" | asset_url }}';
    script.defer = true;
    document.body.appendChild(script);
    
    // Load facets content via fetch
    fetch(window.location.pathname + '?section_id=main-collection-filters')
      .then(response => response.text())
      .then(html => {
        const parser = new DOMParser();
        const doc = parser.parseFromString(html, 'text/html');
        const facets = doc.querySelector('#main-collection-filters');
        if (facets) {
          document.querySelector('#facets-placeholder').replaceWith(facets);
        }
      });
  }

  // Intersection Observer for infinite scroll
  function initInfiniteScroll() {
    const infiniteScroll = document.querySelector('infinite-scroll[data-next-url]');
    if (!infiniteScroll || !infiniteScroll.dataset.nextUrl) return;

    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting && !infiniteScroll.loading) {
          loadMoreProducts(infiniteScroll);
        }
      });
    }, {
      rootMargin: '100px'
    });

    observer.observe(infiniteScroll);
  }

  async function loadMoreProducts(container) {
    if (!container.dataset.nextUrl || container.loading) return;
    
    container.loading = true;
    const spinner = container.querySelector('.loading-spinner');
    if (spinner) spinner.style.display = 'block';
    
    try {
      const response = await fetch(container.dataset.nextUrl);
      const html = await response.text();
      const parser = new DOMParser();
      const doc = parser.parseFromString(html, 'text/html');
      
      // Append new products
      const newProducts = doc.querySelectorAll('#product-grid .grid__item');
      const productGrid = document.getElementById('product-grid');
      
      newProducts.forEach(product => {
        productGrid.appendChild(product);
      });
      
      // Update next URL
      const newNextUrl = doc.querySelector('infinite-scroll')?.dataset.nextUrl;
      if (newNextUrl) {
        container.dataset.nextUrl = newNextUrl;
      } else {
        container.style.display = 'none';
      }
      
      // Initialize lazy loading for new images
      initLazyLoading();
      
    } catch (error) {
      console.error('Error loading more products:', error);
    } finally {
      container.loading = false;
      if (spinner) spinner.style.display = 'none';
    }
  }

  // Lazy loading for images
  function initLazyLoading() {
    const lazyImages = document.querySelectorAll('img[loading="lazy"]');
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          const img = entry.target;
          if (img.dataset.src) {
            img.src = img.dataset.src;
          }
          if (img.dataset.srcset) {
            img.srcset = img.dataset.srcset;
          }
          observer.unobserve(img);
        }
      });
    });

    lazyImages.forEach(img => observer.observe(img));
  }

  // Defer GTM events
  function deferGTMEvents() {
    setTimeout(() => {
      window.dataLayer = window.dataLayer || [];
      const products = [
        {% for product in collection.products limit: 4 %}
          {
            item_id: '{{ product.id }}',
            item_name: '{{ product.title | escape }}',
            price: {{ product.compare_at_price_max | default: product.price | money_without_currency | remove: ',' }}
          }{% unless forloop.last %},{% endunless %}
        {% endfor %}
      ];
      
      window.dataLayer.push({
        event: 'productImpression',
        products: products.filter(p => p.item_id && p.item_name && p.price != null)
      });
    }, 1000);
  }

  // Optimized product click handler
  function initProductClickTracking() {
    if (window.__gtmProductClickBound) return;
    window.__gtmProductClickBound = true;

    document.addEventListener('click', (event) => {
      const link = event.target.closest('.product-image-link.custom-image-link');
      if (!link) return;

      event.preventDefault();
      
      // Push minimal data immediately
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        event: 'productClick',
        productId: link.dataset.productId,
        productName: link.dataset.productName
      });

      // Navigate after a minimal delay
      setTimeout(() => {
        window.location.href = link.href;
      }, 100);
    }, { passive: false });
  }

  // Load everything after DOM is ready
  document.addEventListener('DOMContentLoaded', () => {
    // Load non-critical resources
    loadNonCriticalCSS();
    loadFacets();
    
    // Initialize lazy loading for initial images
    initLazyLoading();
    
    // Initialize infinite scroll
    initInfiniteScroll();
    
    // Initialize product click tracking
    initProductClickTracking();
    
    // Load deferred scripts
    if ({{ section.settings.enable_filtering | default: false }}) {
      const facetsScript = document.createElement('script');
      facetsScript.src = '{{ "facets.js" | asset_url }}';
      facetsScript.defer = true;
      document.body.appendChild(facetsScript);
    }
  });

  // Load GTM events after page is fully loaded
  window.addEventListener('load', () => {
    deferGTMEvents();
  });
</script>

{% comment %} Structured data - load after DOM {% endcomment %}
<script defer>
  document.addEventListener('DOMContentLoaded', () => {
    const structuredData = {
      "@context": "https://schema.org",
      "@type": "CollectionPage",
      "name": "{{ collection.title | escape }}",
      "url": "{{ shop.url }}{{ collection.url }}"
    };
    
    const script = document.createElement('script');
    script.type = 'application/ld+json';
    script.textContent = JSON.stringify(structuredData);
    document.head.appendChild(script);
  });
</script>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "plp_banner_id",
      "label": "PLP Banner Image"
    },
    {
      "type": "image_picker",
      "id": "plp_banner_mobile_id",
      "label": "PLP Banner Image (Mobile)"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 16,
      "label": "Products per page"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "Columns on desktop"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "Columns on mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Product card settings"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show secondary image"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "Show rating"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "Quick add",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "bulk",
          "label": "Bulk"
        }
      ]
    },
    {
      "type": "header",
      "content": "Filtering & sorting"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "Enable filtering"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "Enable sorting"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ]
}
{% endschema %}