<div class="marquee_slider_section">
<div class="marquee_container">
    <div class="marquee">
      <h3>{{ section.settings.text1 }}</h3> 
      <h3>{{ section.settings.text2 }}</h3> 
      <h3>{{ section.settings.text3 }}</h3> 
      <h3>{{ section.settings.text4 }}</h3>
      {% if section.settings.text5 != blank %}
        <h3>{{ section.settings.text5 }}</h3>
      {% endif %}
      {% if section.settings.text6 != blank %}
        <h3>{{ section.settings.text6 }}</h3>
      {% endif %}
    </div>
    <div class="marquee">
      <h3>{{ section.settings.text1 }}</h3> 
      <h3>{{ section.settings.text2 }}</h3> 
      <h3>{{ section.settings.text3 }}</h3> 
      <h3>{{ section.settings.text4 }}</h3>
      {% if section.settings.text5 != blank %}
        <h3>{{ section.settings.text5 }}</h3>
      {% endif %}
      {% if section.settings.text6 != blank %}
        <h3>{{ section.settings.text6 }}</h3>
      {% endif %}
    </div>
    <div class="marquee">
      <h3>{{ section.settings.text1 }}</h3> 
      <h3>{{ section.settings.text2 }}</h3> 
      <h3>{{ section.settings.text3 }}</h3> 
      <h3>{{ section.settings.text4 }}</h3>
      {% if section.settings.text5 != blank %}
        <h3>{{ section.settings.text5 }}</h3>
      {% endif %}
      {% if section.settings.text6 != blank %}
        <h3>{{ section.settings.text6 }}</h3>
      {% endif %}
    </div>
</div>
</div>

<style>
    .marquee_slider_section .marquee_container{width:100%;overflow:hidden;white-space:nowrap;background:#a05a64;}
    .marquee_slider_section .marquee{display:inline-block;animation:marquee 16s linear infinite}
    @keyframes marquee{
    from{transform:translate3d(0,0,0)}
    to{transform:translate3d(-100%,0,0)}
    }
    .marquee_slider_section .marquee_container h3{display:inline-block;margin-right:50px}
    .marquee_slider_section .marquee_container h3 { display: inline-block; margin-right: 50px; color: #ffffff; margin-top: 12px; margin-bottom: 12px; }
</style>

{% if product.collections contains collections['hexa'] %}
  <style>
    .marquee_slider_section .marquee_container { background: #0f0916; }
    .marquee_slider_section .marquee_container:before { background: linear-gradient(to right, #0f0916, transparent); }
    .marquee_slider_section .marquee_container:after { background: linear-gradient(to left, #0f0916, transparent); }
  </style>
{% endif %}


{% schema %}
{
  "name": "Text Ticker Slider",
  "settings": [
    {
      "type": "text",
      "id": "text1",
      "label": "Text 1",
      "default": "Quirky Details"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text 2",
      "default": "Premium Fabrics"
    },
    {
      "type": "text",
      "id": "text3",
      "label": "Text 3",
      "default": "Versatile Silhouette"
    },
    {
      "type": "text",
      "id": "text4",
      "label": "Text 4",
      "default": "Quality Guarantee"
    },
    {
      "type": "text",
      "id": "text5",
      "label": "Text 5"
    },
    {
      "type": "text",
      "id": "text6",
      "label": "Text 6"
    }
  ],
  "presets": [
    {
      "name": "Text Ticker Slider",
      "category": "section"
    }
  ]
}
{% endschema %}