{% schema %}
{
  "name": "Gift Banner",
  "blocks": [
    {
      "type": "banner",
      "name": "Banner Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "html",
          "id": "heading",
          "label": "Heading",
          "default": "PERFECT FOR GIFTING, READY TO IMPRESS"
        },
        {
          "type": "textarea",
          "id": "subtext",
          "label": "Subtext",
          "default": "Every order is delivered in premium, gift-ready packaging — so you can celebrate every moment without the extra effort."
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "Shop Gifts"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gift Banner",
      "blocks": [
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
  .gift-banner {
    position: relative;
    width: 100%;
    padding: 30px 0;
  }

  .gift-banner img {
    width: 100%;
    height: auto;
    display: block;
  }

  .gift-banner__content {
    position: absolute;
    top: 40%;
    left: 5%;
    transform: translateY(-50%);
    max-width: 420px;
  }

  .gift-banner__heading {
      font-weight: 500;
      font-size: 24px;
      line-height: 135%;
      letter-spacing: 4%;
      text-transform: uppercase;
      color:#1a1a1a;
      padding-bottom: 12px;
  }

  .gift-banner__subtext {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 4%;
  padding-bottom: 40px;
  color:#1a1a1a;
  }

  .gift-banner__link {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 4%;
      vertical-align: middle;
      text-decoration: underline;
      text-decoration-style: solid;
      color: black;
  }

  /* Mobile */
  .gift-banner__image--desktop {
    display: block;
  }

  .gift-banner__image--mobile {
    display: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1300px) {
      .gift-banner__content{
      max-width: 370px;
      }

  }

  @media screen and (max-width: 768px) {
    .gift-banner{
        padding: 20px 0;
    }
    .gift-banner__image--desktop {
      display: none;
    }
  .gift-banner__subtext{
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 2%;
  padding-bottom: 6px;

  }

    .gift-banner__image--mobile {
      display: block;
    }

    .gift-banner__content {
      left: 20px;
      right: 20px;
      max-width: 100%;
      top: 40px;
      transform:none;
    }

    .gift-banner__heading {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      padding-bottom: 6px;
      text-transform: uppercase;
    }

    .gift-banner__link{

  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 2%;
  text-decoration: underline;
  text-decoration-style: solid;
  }
  }

   @media screen and (min-width: 1600px) {
    .gift-banner__content{
        max-width:520px;
    }
    .gift-banner__heading{
        padding-bottom: 16px;
    }
}

</style>

{% comment %} <div class="gift-banner page-width">
  {% for block in section.blocks %}
    {% comment %} {% if block.settings.link_text != blank and block.settings.link_url != blank %}
    {% endif %} {% endcomment %}
    <div class="gift-banner__block" {{ block.shopify_attributes }}>
      <picture>
        {% if block.settings.mobile_image %}
          <source
            media="(max-width: 768px)"
            srcset="{{ block.settings.mobile_image | image_url: width: 800 }}"
          >
        {% endif %}

        {% if block.settings.desktop_image %}
          <img
            src="{{ block.settings.desktop_image | image_url: width: 2000 }}"
            alt="banner"
            loading="lazy"
          >
        {% endif %}
      </picture>
      <!-- Content -->
      
      <div class="gift-banner__content">
        {% if block.settings.heading != blank %}
          <div class="gift-banner__heading">
            {{ block.settings.heading }}
          </div>
        {% endif %}

        {% if block.settings.subtext != blank %}
          <div class="gift-banner__subtext">
            {{ block.settings.subtext }}
          </div>
        {% endif %}

        {% if block.settings.link_text != blank and block.settings.link_url != blank %}
          <a href="{{ block.settings.link_url }}" class="gift-banner__link">
            {{ block.settings.link_text }}
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div> {% endcomment %}

<div class="gift-banner page-width">
  {% for block in section.blocks %}
    <a href="{{ block.settings.link_url }}" class="gift-banner__block" {{ block.shopify_attributes }}>
      
      <picture>
        {% if block.settings.mobile_image %}
          <source
            media="(max-width: 768px)"
            srcset="{{ block.settings.mobile_image | image_url: width: 800 }}"
          >
        {% endif %}

        {% if block.settings.desktop_image %}
          <img
            src="{{ block.settings.desktop_image | image_url: width: 2000 }}"
            alt="banner"
            loading="lazy"
          >
        {% endif %}
      </picture>

      <!-- Content -->
      <div class="gift-banner__content">
        {% if block.settings.heading != blank %}
          <div class="gift-banner__heading">
            {{ block.settings.heading }}
          </div>
        {% endif %}

        {% if block.settings.subtext != blank %}
          <div class="gift-banner__subtext">
            {{ block.settings.subtext }}
          </div>
        {% endif %}

        {% if block.settings.link_text != blank and block.settings.link_url != blank %}
          <span class="gift-banner__link">
            {{ block.settings.link_text }}
          </span>
        {% endif %}
      </div>

    </a>
  {% endfor %}
</div>