{% comment %} Pickup Availability Section {% endcomment %}

{%- assign pick_up_availabilities = product_variant.store_availabilities | where: 'pick_up_enabled', true -%}

{%- if pick_up_availabilities.size > 0 -%}
  <pickup-availability-preview class="pickup-availability-preview">

    {% assign closest_location = null %}

    {% for location in pick_up_availabilities %}
      {% if location.available %}
        {% assign closest_location = location %}
        {% break %}
      {% endif %}
    {% endfor %}

    {% if closest_location == null %}
      {% assign closest_location = pick_up_availabilities.first %}
    {% endif %}

    <div class="pickup-availability-info">
      {%- if closest_location.available -%}
        <p class="caption-large">
          Pickup available at {{ closest_location.location.name }}
        </p>
        <p class="caption">{{ closest_location.pick_up_time }}</p>

        <button id="ShowPickupAvailabilityDrawer">
          Check other stores
        </button>

      {%- else -%}
        <p class="caption-large">
          Pickup unavailable at {{ closest_location.location.name }}
        </p>
      {%- endif -%}
    </div>
  </pickup-availability-preview>

  <pickup-availability-drawer class="gradient">
    <ul>
      {%- for availability in pick_up_availabilities -%}
        <li>
          <strong>{{ availability.location.name }}</strong><br>
          {% if availability.available %}
            Available - {{ availability.pick_up_time }}
          {% else %}
            Not available
          {% endif %}
        </li>
      {%- endfor -%}
    </ul>
  </pickup-availability-drawer>
{%- endif -%}