{% schema %}
{
  "name": "Popular Searches Footer",
  "tag": "section",
  "class": "popular-searches-footer",
  "settings": [],
  "presets": [
    {
      "name": "Popular Searches Footer"
    }
  ]
}
{% endschema %}

<div class="popular-searches-wrapper">
  <div class="page-width">
    <h2 class="popular">Popular Searches</h2>
    <div class="search-section">
      <h3>Rings</h3>
      <div class="search-links">
        <div class="link-container">
          <a href="{{ routes.collections_url }}/engagement-rings">Lab Grown Diamond Engagement Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/engagement-rings-for-women">Diamond Engagement Rings for Women</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/mens-engagement-rings">Mens Engagement Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/mens-ring">Lab Grown Men’s Diamond Rings</a>
        </div>
      </div>
    </div>
    <div class="search-section">
      <h3>By Cut</h3>
      <div class="search-links">
        <div class="link-container">
          <a href="{{ routes.collections_url }}/halo-engagement-rings">Halo Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/side-stone-engagement-rings">Side Stone Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/stackable-rings">Stacking Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/engagement-rings-oval">Oval Cut Engagement Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/pear-rings"> Pear Shaped Diamond Ring </a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/heart-rings">Heart Shaped Diamond Ring</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/cushion-rings">Cushion Cut Diamond Ring</a>
        </div>
      </div>
    </div>

    <div class="search-section">
      <h3>By Price</h3>
      <div class="search-links">
        <div class="link-container">
          <a href="{{ routes.collections_url }}/engagement-rings-below-rs-50k">Lab Grown Diamond Rings Under ₹50K</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/engagement-rings-between-rs-50k-to-rs-100k"
            >Lab Grown Diamond Ring Under 1 Lakh</a
          >
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/1-carat-lab-grown-diamond-price-in-india">1 Carat Diamond Ring</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/rings-between-rs-10k-to-rs-20k"> Diamond Ring Under 20000</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/cocktail-rings-diamond">Diamond Cocktail Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/gemstone-rings">Diamond Gemstone Ring</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/couple-bands"> Diamond Couple Rings & Bands</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/emerald-cut-diamond-earrings"> Emerald Cut Diamond Ring</a>
        </div>

        <div class="link-container">
          <a href="{{ routes.collections_url }}/platinum-rings"> Platinum Rings for Couples</a>
        </div>
      </div>
    </div>

    <div class="search-section">
      <h3>Wedding Rings</h3>
      <div class="search-links">
        <div class="link-container">
          <a href="{{ routes.collections_url }}/wedding-rings">Diamond Wedding Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/eternity-wedding-rings">Eternity Wedding Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/stackable-wedding-rings">Stackable Wedding Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/gemstone-wedding-rings">Gemstone Wedding Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/womens-wedding-rings">Women's Wedding Rings </a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/mens-wedding-rings">Men's Wedding Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/wedding-rings-below-rs-50k">Wedding Rings Under ₹50K</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/wedding-rings-between-rs-50k-to-rs-100k">Wedding Rings Under 1 Lakh</a>
        </div>
      </div>
    </div>

    <div class="search-section last">
      <h3>Solitaire</h3>
      <div class="search-links">
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaire-engagement-rings">Solitaire Engagement Rings </a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaire-rings">Lab Grown Solitaire Diamond Ring</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaire-earrings">Solitaire Earrings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaires-pendants">Solitaire Pendants</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaires-bracelets">Solitaire Bracelets</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaires-necklaces">Solitaire Necklaces</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaires-chain-pendants">Solitaire Chain Pendants</a>
        </div>
      </div>
    </div>

    <div class="search-section last">
      <h3>Earrings </h3>
      <div class="search-links">
        <div class="link-container">
          <a href="{{ routes.collections_url }}/all-earrings">Lab Grown Diamond Earrings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/stud-earrings"> Lab Grown Diamond Stud Earrings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/mens-stud">Diamond Studs For Men</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/earrings-for-men"> Diamond Earrings For Men</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaires-bracelets"> Diamond Hoop Earrings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaires-necklaces">Lab Grown Dangle Earrings</a>
        </div>
      </div>
    </div>
  </div>
</div>
