{% schema %}
{
  "name": "Popular Searches Footer",
  "tag": "section",
  "class": "popular-searches-footer",
  "settings": [],
  "presets": [
    {
      "name": "Popular Searches Footer"
    }
  ]
}
{% endschema %}

<div class="popular-searches-wrapper">
  <div class="page-width">
    <h2 class="popular">Popular Searches</h2>
    <div class="search-section">
      <h3>Rings</h3>
      <div class="search-links">
        <div class="link-container">
          <a href="{{ routes.collections_url }}/engagement-rings">Lab Grown Diamond Engagement Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/engagement-rings-for-women">Diamond Engagement Rings for Women</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/mens-engagement-rings">Mens Engagement Rings</a
          >
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/mens-ring">Lab Grown Men’s Diamond Rings</a>
        </div>
      </div>
    </div>
    <div class="search-section">
      <h3>By Cut</h3>
      <div class="search-links">
        <div class="link-container">
          <a href="{{ routes.collections_url }}/halo-engagement-rings">Halo Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/side-stone-engagement-rings">Side Stone Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/stackable-rings">Stacking Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/engagement-rings-oval">Oval Cut Engagement Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/pear-rings"> Pear Shaped Diamond Ring </a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/heart-rings">Heart Shaped Diamond Ring</a
          >
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/wedding-rings-50k-100k">cushion-rings</a
          >
        </div>

      </div>
    </div>

    <div class="search-section">
      <h3>Solitaire</h3>
      <div class="search-links">
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaire-rings">Rings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaires-earrings">Earrings</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaires-bracelets">Bracelet</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaires-necklaces">Necklace</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaires-chain-pendants">Chain Pendants</a
          >
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaires-below-50k">Under ₹50K</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/solitaires-50k-100k">Between ₹50K - 100K</a>
        </div>
      </div>
    </div>

    <div class="search-section">
      <h3>Necklaces & Bracelets</h3>
      <div class="search-links">
        <div class="link-container">
          <a href="{{ routes.collections_url }}/pendant-necklaces">Pendants Necklace</a
          >
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/chain-necklaces">Chain Necklaces</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/mangalsutra-necklaces">Mangalsutra Necklaces</a
          >
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/chain-bracelets">Chain Bracelets</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/tennis-bracelets">Tennis Bracelets</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/cuff-bracelets">Cuff Braceles</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/mangalsutra-bracelets">Mangalsutra Bracelets</a>
        </div>
      </div>
    </div>

    <div class="search-section last">
      <h3>Gifting</h3>
      <div class="search-links">
        <div class="link-container">
          <a href="{{ routes.collections_url }}/gifts-for-her">Gifts for Her</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/gifts-for-him">Gifts for Him</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/anniversary-gifts">Anniversary Gifts</a
          >
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/birthday-gifts">Birthday Gifts</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/gifts-for-wedding">Wedding Gifts</a>
        </div>
        <div class="link-container">
          <a href="{{ routes.collections_url }}/gift-for-mother">Mother's Day</a>
        </div>

        <div class="link-container">
          <a href="https://lucirajewelry.com/">Lucira Jewelry</a>
        </div>
      </div>
    </div>
  </div>
</div>
