<section id="size-guide-section" class="size-guide-section">
  <div class="size-drawer-overlay" id="size-drawer-overlay"></div>
  <div class="size-drawer" id="size-drawer">
    <div class="size-drawer-wrapper">
      <div class="size-drawer-title-wrap">
        <div class="title-wrapper">{{ section.settings.size_guide_title }}</div>
        <div class="close-button" id="close-size-button">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0_10852_4801" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
<rect width="24" height="24" fill="#D9D9D9"/>
</mask>
<g mask="url(#mask0_10852_4801)">
<path d="M12 13.0538L6.92701 18.127C6.78851 18.2653 6.61443 18.3362 6.40476 18.3395C6.19526 18.3427 6.01801 18.2718 5.87301 18.127C5.72818 17.982 5.65576 17.8063 5.65576 17.6C5.65576 17.3937 5.72818 17.218 5.87301 17.073L10.9463 12L5.87301 6.92701C5.73468 6.78851 5.66385 6.61443 5.66051 6.40476C5.65735 6.19526 5.72818 6.01801 5.87301 5.87301C6.01801 5.72818 6.19368 5.65576 6.40001 5.65576C6.60635 5.65576 6.78201 5.72818 6.92701 5.87301L12 10.9463L17.073 5.87301C17.2115 5.73468 17.3856 5.66385 17.5953 5.66051C17.8048 5.65735 17.982 5.72818 18.127 5.87301C18.2718 6.01801 18.3443 6.19368 18.3443 6.40001C18.3443 6.60635 18.2718 6.78201 18.127 6.92701L13.0538 12L18.127 17.073C18.2653 17.2115 18.3362 17.3856 18.3395 17.5953C18.3427 17.8048 18.2718 17.982 18.127 18.127C17.982 18.2718 17.8063 18.3443 17.6 18.3443C17.3937 18.3443 17.218 18.2718 17.073 18.127L12 13.0538Z" fill="#666666"/>
</g>
</svg>
        </div>
      </div>
      {% if section.settings.size_guide_subtitle != blank %}
        <div class="size-subtitle">{{ section.settings.size_guide_subtitle }}</div>
      {% endif %}
    </div>

    <div class="size-guide-details-wrapper">
      {% if section.settings.size_guide_paragraph != blank %}
        <div class="size-guide-paragraph">{{ section.settings.size_guide_paragraph }}</div>
      {% endif %}

      <div class="grid-row">
        {% for block in section.blocks %}
          <div class="grid-column" {{ block.shopify_attributes }}>
            {% if block.settings.size_guide_link != blank %}
              <a href="{{ block.settings.size_guide_link }}" class="size-guide-item-wrapper size-link" target="_blank">
            {% else %}
              <div class="size-guide-item-wrapper">
            {% endif %}
                {% if block.settings.image_picker != blank %}
                  <div class="size-guide-image">
                    <img src="{{ block.settings.image_picker | img_url: '400x' }}" title="{{ block.settings.size_guide_heading | escape }}"alt="{{ block.settings.size_guide_heading | escape }}" width="410" height="205">
                  </div>
                {% endif %}

                <div class="size-item-title-wrapper">
                  {% if block.settings.size_guide_heading != blank %}
                    <h4>{{ block.settings.size_guide_heading }}</h4>
                  {% endif %}
                  {% if block.settings.size_guide_text != blank %}
                    <p>{{ block.settings.size_guide_text }}</p>
                  {% endif %}
                </div>

                {% if block.settings.size_guide_link != blank %}
                  <span class="arrow">{{- 'arrow.svg' | inline_asset_content -}}</span>
                {% endif %}
                {% if block.settings.size_guide_link != blank %}
                  </a>
                {% else %}
                  </div>
                {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Size Guide Drawer",
  "tag": "section",
  "class": "section-size-guide-drawer",
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "size_guide_title",
      "label": "Title",
      "default": "Size Guide"
    },
    {
      "type": "text",
      "id": "size_guide_subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "size_guide_paragraph",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "size_guide_item",
      "name": "Size Guide Item",
      "settings": [
        {
          "type": "text",
          "id": "size_guide_heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "size_guide_text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image_picker",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "size_guide_link",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "size_guide_link_text",
          "label": "Link Text",
          "default": "Learn more"
        },
        {
          "type": "checkbox",
          "id": "size_guide_show_arrow",
          "label": "Show arrow after link text",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Size Guide Drawer",
      "blocks": [
        {
          "type": "size_guide_item"
        },
        {
          "type": "size_guide_item"
        }
      ]
    }
  ]
}
{% endschema %}