{% comment %}
  Size Guide Drawer Section
{% endcomment %}

{% comment %}
  Size Guide Drawer Section
{% endcomment %}

<section id="size-guide-section" class="size-guide-section">
  <div class="size-drawer-overlay" id="size-drawer-overlay"></div>
  <div class="size-drawer" id="size-drawer">
    <div class="size-drawer-wrapper">
      <div class="size-drawer-title-wrap">
        <div class="title-wrapper">{{ section.settings.size_guide_title }}</div>
        <div class="close-button" id="close-size-button">
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
      {% if section.settings.size_guide_subtitle != blank %}
        <div class="size-subtitle">{{ section.settings.size_guide_subtitle }}</div>
      {% endif %}
    </div>

    <div class="size-guide-details-wrapper">
      {% if section.settings.size_guide_paragraph != blank %}
        <div class="size-guide-paragraph">{{ section.settings.size_guide_paragraph }}</div>
      {% endif %}

      <div class="grid-row">
        {% for block in section.blocks %}
          <div class="grid-column" {{ block.shopify_attributes }}>
            {% if block.settings.size_guide_link != blank %}
              <a href="{{ block.settings.size_guide_link }}" class="size-guide-item-wrapper size-link" target="_blank">
            {% else %}
              <div class="size-guide-item-wrapper">
            {% endif %}
                {% if block.settings.image_picker != blank %}
                  <div class="size-guide-image">
                    <img src="{{ block.settings.image_picker | img_url: '400x' }}" title="{{ block.settings.size_guide_heading | escape }}"alt="{{ block.settings.size_guide_heading | escape }}" width="410" height="205">
                  </div>
                {% endif %}

                <div class="size-item-title-wrapper">
                  {% if block.settings.size_guide_heading != blank %}
                    <h4>{{ block.settings.size_guide_heading }}</h4>
                  {% endif %}
                  {% if block.settings.size_guide_text != blank %}
                    <p>{{ block.settings.size_guide_text }}</p>
                  {% endif %}
                </div>

                {% if block.settings.size_guide_link != blank %}
                  <span class="arrow">{{- 'arrow.svg' | inline_asset_content -}}</span>
                {% endif %}
                {% if block.settings.size_guide_link != blank %}
                  </a>
                {% else %}
                  </div>
                {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Size Guide Drawer",
  "tag": "section",
  "class": "section-size-guide-drawer",
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "size_guide_title",
      "label": "Title",
      "default": "Size Guide"
    },
    {
      "type": "text",
      "id": "size_guide_subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "size_guide_paragraph",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "size_guide_item",
      "name": "Size Guide Item",
      "settings": [
        {
          "type": "text",
          "id": "size_guide_heading",
          "label": "Heading"
        },
        {
          "type": "textarea",
          "id": "size_guide_text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "image_picker",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "size_guide_link",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "size_guide_link_text",
          "label": "Link Text",
          "default": "Learn more"
        },
        {
          "type": "checkbox",
          "id": "size_guide_show_arrow",
          "label": "Show arrow after link text",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Size Guide Drawer",
      "blocks": [
        {
          "type": "size_guide_item"
        },
        {
          "type": "size_guide_item"
        }
      ]
    }
  ]
}
{% endschema %}