{% schema %}
{
  "name": "Home Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "user_image",
          "label": "User Image"
        },
        {
          "type": "text",
          "id": "username",
          "label": "User Name"
        },
        {
          "type": "textarea",
          "id": "testimonial",
          "label": "Testimonial"
        },
        {
          "type": "range",
          "id": "rating",
          "label": "Rating",
          "min": 0,
          "max": 5,
          "default": 0,
          "step": 1,
          "unit": "/ 5"
        }
      ]
    }
  ],
  "presets": [{ "name": "Home Testimonials" }]
}
{% endschema %}

<link rel="stylesheet" href="{{ 'slick.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'slick-theme.css' | asset_url }}" media="print" onload="this.media='all'">
<script src="{{ 'slick.min.js' | asset_url }}" defer="defer"></script>

<section class="home-testimonials">
  <p class="home-testimonials-heading">{{ section.settings.heading }}</p>
  <p class="home-testimonials-subheading">{{ section.settings.subheading }}</p>
  <div class="home-testimonials-container">
    {% for block in section.blocks %}
      <div class="home-testimonials-item">
        <p>{{ block.settings.username }}</p>
        <img
          class="home-testimonials-userimage"
          src="{{ block.settings.user_image | image_url: width: 100, height: 100 }}"
          title="home-testimonials-userimage"
          height="100"
          width="100"
          loading="lazy"
          alt="{{ block.settings.username | escape }}"
        >
        {% if block.settings.rating > 0 %}
          <div class="home-testimonials-item-ratings">
            {% for i in (1..5) %}
              {% if i <= block.settings.rating %}
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_749_38452)">
                    <path d="M12.0003 18.0129L16.1503 20.5229C16.9103 20.9829 17.8403 20.3029 17.6403 19.4429L16.5403 14.7229L20.2103 11.5429C20.8803 10.9629 20.5203 9.86293 19.6403 9.79293L14.8103 9.38293L12.9203 4.92293C12.5803 4.11293 11.4203 4.11293 11.0803 4.92293L9.19032 9.37293L4.36032 9.78293C3.48032 9.85293 3.12032 10.9529 3.79032 11.5329L7.46032 14.7129L6.36032 19.4329C6.16032 20.2929 7.09032 20.9729 7.85032 20.5129L12.0003 18.0129Z" fill="#EEB71C"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_749_38452">
                      <rect width="24" height="24" fill="white" transform="translate(0 0.743164)"/>
                    </clipPath>
                  </defs>
                </svg>
              {% else %}
                <img
                  src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/testimonials_empty_star.svg?v=1757859045"
                  height="25"
                  width="24"
                  title="testimonials"
                  loading="lazy"
                  alt="empty star"
                >
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
        <div class="home-testmonial-content">
          <p>{{ block.settings.testimonial }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<style>
  .home-testimonials-heading{font-family:Futura,sans-serif;font-weight:500;line-height:150%;vertical-align:middle;text-transform:uppercase;color:#1a1a1a;text-align:center;margin:0;font-size:24px;letter-spacing:1px}
  .home-testimonials-subheading{text-align:center;margin:0;font-size:18px;height:auto!important}
  .home-testimonials-container{margin-top:3rem;width:100%;background:#f4f0f0;border-radius:16px;padding:40px;padding-bottom:60px;position:relative;display:flex}
  .home-testimonials-container .slick-slide{margin:0 10px}
  .home-testimonials-item{flex:1;opacity:0.6;display:flex!important;flex-direction:column;align-items:center;background:0 0;height:100%;border-radius:12px}
  .home-testimonials-container .slick-center .home-testimonials-item {opacity:1;background:#fff}
  .home-testimonials-container .slick-center .home-testmonial-content{background:#785754;color:#fff; margin-top: 30px;}
  .index .home-testimonials-item{opacity:1}
  .home-testimonials-item-ratings{display:flex;margin-block:10px}
  .home-testmonial-content{background:0 0;padding:5rem;border-radius:10px;width:100%;flex:1;display:flex;align-items:center;justify-content:center;text-align:center;font-size:18px;color:#000}
  .home-testimonials-arrows{position:absolute;inset-block-start:50%;cursor:pointer;z-index:1}
  .home-testimonials .slick-dots{position:absolute;left:50%;bottom:10px;transform:translateX(-50%);display:flex;justify-content:center;gap:8px;list-style:none;margin-top:30px;padding:0}
  .home-testimonials .slick-dots li{margin:0}
  .home-testimonials-dot{display:block;width:16px;height:5px;background:#fff;border-radius:8px;cursor:pointer;transition:background .3s ease,width .3s ease}
  .slick-dots .slick-active .home-testimonials-dot{width:20px;background:#a68380}
  .home-testimonials-left-arrow{left:20px}
  .home-testimonials-right-arrow{right:20px}
  .home-testimonials{margin-bottom:0;max-width:1600px;width:92%;margin-top:30px;margin-left:auto;margin-right:auto;display:block}
  .home-testimonials { margin-bottom: 0 !important margin-top: 0; margin-left: auto; margin-right: auto; display: block; }
  .home-testimonials .slick-dotted.slick-slider { margin-bottom: 0 !important; }
  @media screen and (max-width:45em){
  .home-testimonials{padding:0;margin-block:24px}
  .home-testimonials-container{border-radius:0;padding:24px 0}
  .home-testimonials-heading{font-size:18px;height:auto!important}
  .home-testimonials-subheading{font-size:12px}
  .home-testimonials-userimage{max-width:90px;max-height:90px;}
  .home-testmonial-content{font-size:12px;padding:1rem}
  .home-testimonials-container .slick-slide{margin:0 5px}
  .home-testimonials .slick-center{z-index:10}
  .home-testimonials-container .slick-center .home-testimonials-item {height: 383px;}
  .home-testimonials .slick-dots {bottom: -6px;}
  .home-testimonials-container {padding: 24px 0 30px;}
  }
</style>

<script defer>
  document.addEventListener('DOMContentLoaded', function () {
    jQuery(function ($) {
      $('.home-testimonials-container').slick({
        slidesToShow: 3,
        centerMode: true,
        infinite: true,
        centerPadding: '0',
        dots: true,
        prevArrow: `<img data-info="prev-slide" class="home-testimonials-arrows home-testimonials-left-arrow" src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/home-testimonials-left.svg?v=1757859219" height="40" width="40" alt="Previous Testimonial" />`,
        nextArrow: `<img data-info="next-slide" class="home-testimonials-arrows home-testimonials-right-arrow" src="https://cdn.shopify.com/s/files/1/0739/8516/3482/files/home-testimonials-right.svg?v=1757859252" height="40" width="40" alt="Next Testimonial" />`,
        customPaging: function (slider, i) {
          return `<span class="home-testimonials-dot"></span>`;
        },
        responsive: [
          {
            breakpoint: 760,
            settings: {
              arrows: false,
              slidesToShow: 1,
              centerMode: true,
              centerPadding: '40px',
            },
          },
        ],
      });
    });
  });
</script>
