<style>
.centered-heading-button-section{width:100%;text-align:center}
.chb-wrapper h2{max-width:850px;margin:0 auto;font-weight:500;font-size:32px;line-height:150%;text-align:center;vertical-align:middle;text-transform:uppercase;margin-bottom:40px}
.chb-btn{font-weight:500;font-size:16px;line-height:100%;text-transform:uppercase;padding:22px 70px;border-radius:12px;background:#a68380;display:inline-block;color:#fff;letter-spacing:1px;text-decoration:none}

@media (max-width: 768px) {
.centered-heading-button-section { margin-top: {{ section.settings.margin_top_mobile }}px !important; margin-bottom: {{ section.settings.margin_bottom_mobile }}px !important; }
.chb-wrapper h2{font-size:20px;margin-bottom:16px;max-width:272px}
.chb-btn{font-size:14px;padding:15px 41px;border-radius:8px}
}
</style>

<section
  class="centered-heading-button-section"
  style="
    margin-top: {{ section.settings.margin_top_desktop }}px;
    margin-bottom: {{ section.settings.margin_bottom_desktop }}px;
  "
>
  <div class="chb-wrapper">
    {% if section.settings.heading != blank %}
      <h2>{{ section.settings.heading }}</h2>
    {% endif %}

    {% if section.settings.button_text != blank %}
      <a href="{{ section.settings.button_url }}" class="chb-btn">
        {{ section.settings.button_text }}
      </a>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Text With Button",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "LOREM IPSUM DOLOR SIT AMET CONSECTETUR"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "VIEW PRODUCTS"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "label": "Margin Top (Desktop)",
      "default": 40,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "label": "Margin Bottom (Desktop)",
      "default": 40,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "label": "Margin Top (Mobile)",
      "default": 20,
      "min": 0,
      "max": 100
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "label": "Margin Bottom (Mobile)",
      "default": 20,
      "min": 0,
      "max": 100
    }
  ],
  "presets": [
    {
      "name": "Text With Button"
    }
  ]
}
{% endschema %}
