{% capture iwish_add_icon %}
{% if section.settings.icon_style == 'star' %}
  <svg version="1.1" width="20" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M480,207H308.6L256,47.9L203.4,207H32l140.2,97.9L117.6,464L256,365.4L394.4,464l-54.7-159.1L480,207z M362.6,421.2  l-106.6-76l-106.6,76L192,298.7L84,224h131l41-123.3L297,224h131l-108,74.6L362.6,421.2z"></path></svg>
{% elsif section.settings.icon_style == 'heart' %}
  <svg viewBox="0 0 256 256" width="20" class="iwishOutline" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="256" width="256"/><path d="M128,216S28,160,28,92A52,52,0,0,1,128,72h0A52,52,0,0,1,228,92C228,160,128,216,128,216Z" fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
{% elsif section.settings.icon_style == 'custom' %}
  {{ section.settings.iwish_add_icon_outline }}
{% endif %}
{% endcapture %}
{% capture iwish_added_icon %}
{% if section.settings.icon_style == 'star' %}
  <svg version="1.1" width="20" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M480,207H308.6L256,47.9L203.4,207H32l140.2,97.9L117.6,464L256,365.4L394.4,464l-54.7-159.1L480,207z"></path></svg>
{% elsif section.settings.icon_style == 'heart' %}
  <svg viewBox="0 0 256 256" width="20" class="iwishFill" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="256" width="256"/><path d="M128,216S28,160,28,92A52,52,0,0,1,128,72h0A52,52,0,0,1,228,92C228,160,128,216,128,216Z" fill="#000000" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/></svg>
{% elsif section.settings.icon_style == 'custom' %}
  {{ section.settings.iwish_added_icon_filled }}
{% endif %}
{% endcapture %}
{% liquid 
if section.settings.iwish_add_txt != ''
	if section.settings.multi_language
		assign iwish_add = 'wishlist.add_to_wishlist' | t | prepend: '<span>' | append: '</span>'
		assign iwish_added = 'wishlist.added_to_wishlist' | t | prepend: '<span>' | append: '</span>'
	else
      assign iwish_add = section.settings.iwish_add_txt | prepend: '<span>' | append: '</span>'
      assign iwish_added = section.settings.iwish_added_txt | prepend: '<span>' | append: '</span>'
    endif
endif
%}
{% if section.settings.icon_style != 'none' %}
  {% capture iwish_add_txt %}{{ iwish_add_icon }} {{ iwish_add }}{% endcapture %}
  {% capture iwish_added_txt %}{{ iwish_added_icon }} {{ iwish_added }}{% endcapture %}
{% else %}
  {% assign iwish_add_txt = iwish_add %}
  {% assign iwish_added_txt = iwish_added %}
{% endif %}
<style>
    .iWishAdd.st-1, .iWishAddColl {
      font-size: {{ section.settings.text_font_size }}px;
      {% if section.settings.text_color != 'rgba(0,0,0,0)' %}
          color: {{ section.settings.text_color }};
      {% endif %}
    }
    {% if section.settings.text_color != 'rgba(0,0,0,0)' %}
    .iWishAdd.st-1 svg path, .iWishAddColl svg path {
        stroke: {{ section.settings.text_color }};
    }
    .iWishAdd.st-1.iwishAdded svg path, .iWishAddColl.iwishAdded svg path {
        fill: {{ section.settings.text_color }};
        stroke: {{ section.settings.text_color }};
    }
    {% endif %}
    {% if section.settings.text_color_hover != 'rgba(0,0,0,0)' %}
    .iWishAdd.st-1:hover, .iWishAddColl:hover, .iWishAddColl.iwishAdded, .iWishAdd.st-1.iwishAdded {
        color: {{ section.settings.text_color_hover }}
    }
    .iWishAdd.st-1:hover svg path, .iWishAddColl:hover svg path {
      stroke: {{ section.settings.text_color_hover }};
    }
    .iWishAdd.st-1.iwishAdded svg path, .iWishAddColl.iwishAdded svg path {
        fill: {{ section.settings.text_color_hover }};
        stroke: {{ section.settings.text_color_hover }};
    }
    {% endif %}
  .iWishAddColl {
        {% if section.settings.icon_position == 'top-left' or section.settings.icon_position == 'top-right' %}
          position: absolute;
          z-index: {{ section.settings.z_index }};
          top: 5px;
          {% if section.settings.icon_position == 'top-left' %}left: 5px;{% else %}right: 5px;{% endif %}
        {% elsif section.settings.icon_position == 'bottom-left' or section.settings.icon_position == 'bottom-right' %}
          position: absolute;
          z-index: {{ section.settings.z_index }};
          bottom: 5px;
          {% if section.settings.icon_position == 'bottom-left' %}left: 5px;{% else %}right: 5px;{% endif %}
        {% endif %}
        {% if section.settings.background_color != 'rgba(0,0,0,0)' %}
            background-color: {{ section.settings.background_color }};
            border-radius: 50%;
            width: 28px;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
        {% endif %}
  }
</style>
<script async type="text/javascript">
  var iWishData = window.iWishData || {};
  if(typeof window.iWishData.iwish_add_txt === 'undefined') {
    iWishData.iwish_add_txt = `{{ iwish_add_txt }}`,
    iWishData.iwish_added_txt = `{{ iwish_added_txt }}`;
    iWishData.theme_btn_class = `{{ section.settings.theme_btn_class }}`;
  }
  iWishData = {...iWishData, iwish_add_txt_col: `{{ iwish_add_icon }}`, iwish_added_txt_col: `{{ iwish_added_icon }}`, qv_wrapper: "{{ section.settings.qv_wrapper }}", qv_button: "{{ section.settings.qv_button }}", qv_close_button: "{{ section.settings.qv_close_button }}" };
</script>
<div class="section-{{ section.id }}-padding">
  {{ section.settings.custom_liquid }}
</div>
{% schema %}
{
  "name": "Wishlist App Settings",
  "tag": "section",
  "class": "iwish-app-block-settings",
  "settings": [
    {
      "type": "header",
      "content": "Customization For Product Grid"
    },
    {
		"type": "checkbox",
		"id": "multi_language",
		"label": "Enable Multi-langauge",
		"default": false
	},
    {
      "type": "header",
      "content": "Text below only works for single language store"
    },
    {
      "type": "text",
      "id": "iwish_add_txt",
      "label": "Wishlist Add Button Text",
      "default": "Add To Wishlist"
    }, 
    {
      "type": "text",
      "id": "iwish_added_txt",
      "label": "Wishlist Added Button Text",
      "default": "Added To Wishlist"
    },
    {
      "type": "select",
      "id": "icon_style",
      "label": "Wishlist Icon Style",
      "options": [
          {
            "value": "heart",
            "label": "Default"
          }, {
            "value": "star",
            "label": "Star"
          }, {
            "value": "none",
            "label": "None"
          }, {
            "value": "custom",
            "label": "Custom"
          }
      ],
      "default": "heart"
    },
    {
      "type": "html",
      "id": "iwish_add_icon_outline",
      "label": "Custom Wishlist Add Icon"
    },
    {
      "type": "html",
      "id": "iwish_added_icon_filled",
      "label": "Custom Wishlist Added Icon"
    }, 
    {
      "type": "text",
      "id": "theme_btn_class",
      "label": "Use Theme Button Class - [For Quick View]"
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "Wishlist Icon Position",
      "options": [
        { "value": "default", "label": "Default" },
        { "value": "top-right", "label": "Top Right" },
        { "value": "top-left", "label": "Top Left" },
        { "value": "bottom-right", "label": "Bottom Right" },
        { "value": "bottom-left", "label": "Bottom Left" }
      ],
      "default": "top-right"
    },
    {
      "type": "header",
      "content": "Style"
    }, 
    {
      "type": "range",
      "id": "text_font_size",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Text Font size",
      "default": 14
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color_hover",
      "label": "Hover / Added Color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "number",
      "id": "z_index",
      "label": "z-index",
      "default": 2
    },
    {
      "type": "header",
      "content": "Developer Settings"
    },
    {
      "type": "text",
      "id": "qv_wrapper",
      "label": "Quick View Wrapper"
    },
    {
      "type": "text",
      "id": "qv_button",
      "label": "Quick View Button"
    },
    {
      "type": "text",
      "id": "qv_close_button",
      "label": "Quick View Close Button"
    }
  ],
  "presets": [
    {
      "name": "Wishlist App Settings"
    }
  ]
}
{% endschema %}